/* Colors */

.canteen {
  /* background: #F0F0DF; */
  overflow-x: hidden;
}

.canteen-content {
  /* max-width: 375px; */
  /* margin: 20px; */
  font-family: HelveticaNeue-Medium;
  font-size: 25px;
  margin-top: 5em;
}

.canteen h1 {
  font-family: HelveticaNeue-Medium;
  font-family: "Pinewood";
  font-size: 60px;
  text-transform: uppercase;
  line-height: 90%;
}

.canteen-section {
  border: 5px dashed green;
  box-shadow: 8px 8px 0px 0px green;
  padding: 30px;
  margin: 20px;
  margin-top: -10px;
  background: white;
  transform: rotate(3deg);
  animation-name: blinking;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  &:nth-child(odd) {
    transform: rotate(-2deg)
  }
}

.canteen-small,
.canteen-small p {
  font-size: .8em;
  font-family: "Times New Roman"
}

.jesus {
  transform: rotate(-10deg);
  margin-top: 2em;
  margin-left: 1em;
  margin-bottom: 3em;
  h2 {
    font-family: "Pinewood";
    color: white;
    font-size: 79px;
    color: green;
    line-height: 90%;
  }
  div, img {
    position: relative;
    z-index: 99999;
    max-width: 80%
  }
}

.jesus .burst {
  background: url(/uploads/burst.svg) no-repeat;
  background-size: cover;
  animation: rotation 20s infinite linear;
  width: 120vw;
  height: 120vw;
  position: absolute;
  top: -10%;
  left: -20%;
  z-index: 0;
  max-width: 500px;
  max-height: 500px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.canteen-nav-container {
  width: 100%;
  overflow: hidden;
  background: pink;
}

.canteen-nav {
  background: $color-tertiary;
  font-family: HelveticaNeue-Medium;
  color: white;
  text-transform: uppercase;
  font-size: 2em;
  margin-top: -.5rem;
  margin-bottom: 30em;
  background: green;
  position: absolute;
  top: .5em;
  width: 100%;
  left: 0;
  transform: rotate(-5deg);
  /* margin-top: -5rem;
  margin-bottom: 5rem; */
  border: 10px dashed green;
  animation-name: blinking;
  animation-duration: .5s;
  animation-iteration-count: infinite;
}

@keyframes blinking {
  100% {
    border-color: #ffcd5f;
  }
}

.canteen-nav li {
  opacity: .7;
  cursor: pointer;
}

.canteen-nav .active {
  opacity: 1;
  border-bottom: 3px solid white;
}

.color-green {
  color: green;
}
