/* COVID19 */

.CovidLogo {
  max-width: 100px;
  width: 100px;
}

@media laptop {
  .CovidLogo {
    width: 150px;
    max-width: 150px;
  }
}

.AlertBar {
  background: pink;
  position: fixed;
  top: 0;
  left: 0;
  padding: 13px 10px 10px 10px;
  width: 100%;
  text-align: center;
  z-index: 9999999;
}

.TockButton {
  border: 1px solid color-tock-blue;
  background-color: color-tock-blue;
  padding: 12px 15px;
  border-radius: 4px;
  text-align: center;
  color: white;
  transition: all 200ms ease-out;
  font-family: typeface-tertiary;
}

.TockButton::before {
  display: none;
}

.TockButtonSoldOut a {
  opacity: .5
}

.TockButtonLocal {
  // background: black;
}

.SoldOut {
  max-width: 400px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.flex-center {
  justify-content: center;
}

@media laptop {
  .d-flex-center {
    justify-content: center;
  }
}

.flex-row {
  flex-direction: row
}

@media laptop {
  .col {
    flex: 1;
  }
}

.col-fullwidth {
  width: 100%;
}

.col-onethird {
  flex-grow: 2;
}

.col-twothirds {
  flex-grow: 3;
}

@media laptop {
  .max50p {
    max-width: 50%;
  }
}

.ConceptBlock {
  width: 100%;
  flex-grow: 10;
}

@media laptop {
  .ConceptBlock {
   flex-grow: 1;
   max-width: 30vw;
   min-width: 30vw;
   transition: all 300ms ease;
  }
}

.ConceptBlock:hover {
  transform: translateY(-3px);
}

.DrinkCategory:first-child {
  margin-top: 0;
}

.ConceptBlock:last-child .Divider,
.MenuItem:last-child .Divider {
  display: none;
}

.WelcomeMessage {
  max-width: 400px;
  line-height: 140%;
}

.BigButton {
  border: 1px solid black;
  box-shadow: 5px 5px 0px 0px black;
  padding: 10px 15px;
  text-align: center;
  transition: all 200ms ease-out;
}

.BigButton a:hover {
  background: black
  color: white;
  box-shadow: 0px 0px 0px 0px black;
}
