/* COVID19 */

.DriveThruIntro {
  margin-bottom: -14vw;
}
@media laptop {
  .DriveThruIntro {
    width: 100vw;
    padding: 4vw 12.5vw;
    height: 100vh;
    min-height: 100vh;
    margin-bottom: 0;
  }
  .DriveThruIntro .Text {
    width: 30vw;
  }
}
.DriveThruPhoto {
  background-image: url(/uploads/nelson4.jpg);
  background-size: cover;
  background-position: center bottom;
  height: 100vh;
}
@media laptop {
  .DriveThruPhoto {
    height: 110vh;
  }
}
.FamSignature {
  max-width: 190px;
}
@media laptop {
  .FamSignature {
    max-width: 200px;
  }
}
@media laptop {
  .DarkerBg {
    background: #F3F2F1
  }
  /* .DarkerBg .Display2 {
    width: 70%;
  } */
}
.FamilyMealButton a {
  background: #C2F4E9
}

.SafetyList {
  line-height: 150%;
}

.SafetyList li {
  list-style-type: circle;
}

.SafetyList li ::before {
  content: "•"
  color: orange;
}

.AlertBar {
  background: pink;
  position: fixed;
  top: 0;
  left: 0;
  padding: 13px 10px 10px 10px;
  width: 100%;
  text-align: center;
  z-index: 9999999;
}

.TockButton a {
  border: 1px solid color-tock-blue;
  background-color: color-tock-blue;
  padding: 12px 15px;
  border-radius: 4px;
  text-align: center;
  color: white;
  transition: all 200ms ease-out;
  font-family: typeface-tertiary;

}

.TockButton a::before {
  display: none;
}

.TockButtonSoldOut a {
  opacity: .5
}

.flex {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;
}

.flex-row {
  flex-direction: row
}

.col {
  flex: 1;
}

.col-fullwidth {
  width: 100%;
}

.max50p {
  max-width: 50%;
}

@media laptop {
  .ConceptBlock {
   max-width: 30vw;
   min-width: 30vw;
   transition: all 300ms ease;
  }
}

.ConceptBlock:hover {
  transform: translateY(-5px) scale(1.01);
}