@font-face {
    font-family: 'GTSectraDisplayLight';
    src: url('/uploads/GT-Sectra-Display-Light.eot');
    src: url('/uploads/GT-Sectra-Display-Light.eot') format('embedded-opentype'),
         url('/uploads/GT-Sectra-Display-Light.woff') format('woff'),
         url('/uploads/GT-Sectra-Display-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'GTSectraDisplayLightItalic';
    src: url('/uploads/GT-Sectra-Display-Light-Italic.eot');
    src: url('/uploads/GT-Sectra-Display-Light-Italic.eot') format('embedded-opentype'),
        url('/uploads/GT-Sectra-Display-Light-Italic.woff') format('woff'),
        url('/uploads/GT-Sectra-Display-Light-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'GTSectraBook';
    src: url('/uploads/GT-Sectra-Book.eot');
    src: url('/uploads/GT-Sectra-Book.eot') format('embedded-opentype'),
         url('/uploads/GT-Sectra-Book.woff') format('woff'),
         url('/uploads/GT-Sectra-Book.ttf') format('truetype');
}
@font-face {
    font-family: 'GTSectraBookItalic';
    src: url('/uploads/GT-Sectra-Book-Italic.eot');
    src: url('/uploads/GT-Sectra-Book-Italic.eot') format('embedded-opentype'),
         url('/uploads/GT-Sectra-Book-Italic.woff') format('woff'),
         url('/uploads/GT-Sectra-Book-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'ApercuMono';
    src: url('/uploads/ApercuMono.eot');
    src: url('/uploads/ApercuMono.eot') format('embedded-opentype'),
         url('/uploads/ApercuMono.woff2') format('woff2'),
         url('/uploads/ApercuMono.woff') format('woff'),
         url('/uploads/ApercuMono.ttf') format('truetype');
}

/* COVID */

@font-face {
    font-family: 'OGSequel';
    src: url('/uploads/OGJTypeDesignSequel100Wide85.eot');
    src: url('/uploads/OGJTypeDesignSequel100Wide85.eot') format('embedded-opentype'),
         url('/uploads/OGJTypeDesignSequel100Wide85.woff2') format('woff2'),
         url('/uploads/OGJTypeDesignSequel100Wide85.woff') format('woff'),
         url('/uploads/OGJTypeDesignSequel100Wide85.ttf') format('truetype'),
         url('/uploads/OGJTypeDesignSequel100Wide85.svg#OGJTypeDesignSequel100Wide85') format('svg');
}

@font-face {
    font-family: 'futuramaxicgbold';
    src: url('/uploads/futuramaxicgbold.eot');
    src: url('/uploads/futuramaxicgbold.eot') format('embedded-opentype'),
         url('/uploads/futuramaxicgbold.woff2') format('woff2'),
         url('/uploads/futuramaxicgbold.woff') format('woff'),
         url('/uploads/futuramaxicgbold.ttf') format('truetype'),
         url('/uploads/futuramaxicgbold.svg#futuramaxicgbold') format('svg');
}

@font-face {
    font-family: 'futuramaxicgbold';
    src: url('/uploads/futuramaxicgbold.eot');
    src: url('/uploads/futuramaxicgbold.eot') format('embedded-opentype'),
         url('/uploads/futuramaxicgbold.woff2') format('woff2'),
         url('/uploads/futuramaxicgbold.woff') format('woff'),
         url('/uploads/futuramaxicgbold.ttf') format('truetype'),
         url('/uploads/futuramaxicgbold.svg#futuramaxicgbold') format('svg');
}

@font-face {
    font-family: 'Pinewood';
    src: url('/uploads/PinewoodgmE1.eot');
    src: url('/uploads/PinewoodgmE1.eot') format('embedded-opentype'),
         url('/uploads/PinewoodgmE1.woff2') format('woff2'),
         url('/uploads/PinewoodgmE1.woff') format('woff'),
         url('/uploads/PinewoodgmE1.ttf') format('truetype'),
         url('/uploads/PinewoodgmE1.svg#PinewoodgmE1') format('svg');
}

@font-face {
    font-family: 'HoboStd';
    src: url('/uploads/HoboStd.eot');
    src: url('/uploads/HoboStd.eot') format('embedded-opentype'),
         url('/uploads/HoboStd.woff2') format('woff2'),
         url('/uploads/HoboStd.woff') format('woff'),
         url('/uploads/HoboStd.ttf') format('truetype'),
         url('/uploads/HoboStd.svg#HoboStd') format('svg');
}

@font-face {
    font-family: 'HelveticaNeueMedium';
    src: url('/uploads/HelveticaNeueMedium_22555.eot');
    src: url('/uploads/HelveticaNeueMedium_22555.eot') format('embedded-opentype'),
         url('/uploads/HelveticaNeueMedium_22555.woff2') format('woff2'),
         url('/uploads/HelveticaNeueMedium_22555.woff') format('woff'),
         url('/uploads/HelveticaNeueMedium_22555.ttf') format('truetype'),
         url('/uploads/HelveticaNeueMedium_22555.svg#HelveticaNeueMedium_22555') format('svg');
}
