// Temporary styles and classes for NYE Party 2017 Home page take over
 
.MidnightIntro {
  height: 219vw;
  padding-left: 7vw;
  padding-right: 7vw;
  background: #051B21;
  position: relative;
  justify-content: center;
  margin-bottom: 3vw;
}

@media tablet {
  .MidnightIntro {
    height: 96vw;
  }
}

@media laptop {
  .MidnightIntro {
    height: 81vw;
    margin-bottom: 7vw;
  }
}

body.Home .GlobalNav li a, body.Home .GlobalNav li {
  color: white;
}

body.Home .Logo {
  opacity: 0;
  display: none;
}

body.Home .NavHamburger {
  color: white;
}

body.Home .NavHamburger div span.Open:after {
  background-color: white;
}

@media laptop {
  body.Home .SocialNav li a.Instagram {
    display: none;
    opacity: 0;
    background-image: url("/assets/_img/socialicon_insta_light.svg")
  }
}

.MidnightIntro .AParty {
  width: 273px;
  height: 90px;
  position: absolute;
  top: 60.5vw;
  left: calc(50vw - 136px);
  animation: fade_in 3s 2s ease-out forwards;
  opacity: 0;
  z-index: 15;
}

@media tablet {
  .MidnightIntro .AParty {
    top: 40vw;
  }
}

@media laptop {
  .MidnightIntro .AParty {
    top: 8.5vw;
  }
}

.MidnightIntro .Stars {
  animation: move_left 1200s 0s ease-out forwards;
}


.MidnightIntro .Moon {
  width: 130px;
  height: 0px;
  padding-bottom: 100%;
  position: absolute;
  top: 0vw;
  left: calc(50vw - 65px);
  animation: move_in_moon_mobile 3s 1s  cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, fade_in 3s 1s ease-out forwards;
  opacity: 0;
  z-index: 0;
  transform: scale(.4);
}

@media laptop {
  .MidnightIntro .Moon {
    top: 17vw;
    transform: scale(1);
    animation: move_in_moon 3s 1s  cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, fade_in 3s 1s ease-out forwards;
  }
}

.MidnightIntro .Moon svg {
  width: 100%;
}

.MidnightIntro .Skyline {
  width: 100vw;
  height: 0px;
  padding-bottom: 30%;
  position: absolute;
  top: 20vw;
  left: 0;
  animation: fade_in 500ms 1s ease-out forwards;
  opacity: 0;
  background: transparent;
  z-index: 10;
}

@media tablet {
  .MidnightIntro .Skyline {
    top: 0;
  }
}

.MidnightIntro .Skyline svg .Clouds path {
  animation: move_right 800s 0s ease-out forwards;
}

.MidnightIntro .Skyline svg .Clouds .One {
  transform: translateY(45%);
}

.MidnightIntro .Skyline svg .Clouds .Two {
  transform: translateY(-40%);
}

.MidnightIntro .Title {
  width: 87vw;
  height: 30vw;
  overflow: hidden;
  position: absolute;
  top: 78vw;
  left: 6.5vw;
  animation: move_in_title 1s 1s ease-out forwards, fade_in 2s 1s ease-out forwards;
  opacity: 0;
}

@media tablet {
  .MidnightIntro .Title {
    top: 52vw;
    width: 85vw;
    left: 7.5vw;
  }
}

@media laptop {
  .MidnightIntro .Title {
    top: 38vw;
  }
}

.MidnightIntro .Title .Stilts, .MidnightIntro .Title .Frames {
  fill: #28667C;
}

.MidnightIntro .Title svg .Midnight {
  opacity: 0;
  animation: fade_in 200ms 3s ease-out forwards;
}

.MidnightIntro .Title svg .Midnight .I {
  opacity: 0;
  animation: flicker_1 600ms 3.1s ease-out forwards;
  box-shadow: 0px 0px 26px 0px rgba(255,255,255,1);
}

.MidnightIntro .Title svg .Midnight .G {
  opacity: 0;
  animation: flicker_1 700ms 3.2s ease-out forwards;
}

.MidnightIntro .Title svg .Midnight .H {
  opacity: 0;
  animation: flicker_1 300ms 3.3s ease-out forwards;
}

.MidnightIntro .Title svg .Midnight .M {
  opacity: 0;
  animation: flicker_1 400ms 3.5s ease-out forwards;
}

.MidnightIntro .BlueBar {
  width: 100vw;
  height: 0px;
  padding-bottom: 132%;
  position: absolute;
  top: 98vw;
  left: 0;
  background: #28667C;
  z-index: 20;
}

@media tablet {
  .MidnightIntro .BlueBar {
    top: 75vw;
    padding-bottom: 29vw;
  }
}

@media laptop {
  .MidnightIntro .BlueBar {
    top: 59vw;
  }
}

.MidnightIntro .BlueBar .Details_Mobile {
  width: 87vw;
  height: 0;
  padding-bottom: 194.2%;
  overflow: hidden;
  position: absolute;
  top: 7vw;
  left: 6.5vw;
  opacity: 0;
  animation: fade_in 800ms 3s ease-out forwards;
}

@media tablet {
  .MidnightIntro .BlueBar .Details_Mobile {
    display: none;
  }
}

.MidnightIntro .BlueBar .Details_Desktop {
  display: none;
}

@media tablet {
  .MidnightIntro .BlueBar .Details_Desktop {
    display: block;
    width: 85vw;
    height: 0;
    padding-bottom: 14.2%;
    overflow: hidden;
    position: absolute;
    top: 7vw;
    left: 7.5vw;
    opacity: 0;
    animation: fade_in 800ms 3s ease-out forwards;
  }
}

.MidnightIntro .BlueBar .Details_Desktop svg {
  width: 100%;
}

// Animations

@keyframes move_out {
  to {
    top: 55vw;
  }
}

@keyframes move_left {
  to {
    transform: translateX(-2000px);
  }
}

@keyframes move_right {
  to {
    transform: translateX(2000px);
  }
}

@keyframes move_in_title {
  to {
    transform: translateY(-30px);
    opacity: 1;
  }
}

@keyframes move_in_moon_mobile {
  to {
    transform: translateY(-5%) scale(.4);
    opacity: 1;
  }
}

@keyframes move_in_moon {
  to {
    transform: translateY(-5%) scale(1);
    opacity: 1;
  }
}

@keyframes fade_in {
  to {
    opacity: 1;
  }
}

@keyframes fade_to_blue {
  to {
    fill: #28667C;
  }
}

@keyframes flicker_1 {
  50% { opacity: 0; }
  60% { opacity: 1; box-shadow: 0px 0px 26px 0px rgba(255,255,255,1);}
  70% { opacity: 0; box-shadow: 0px 0px 26px 0px rgba(255,255,255,.1);} 
  75% { opacity: 1; box-shadow: 0px 0px 26px 0px rgba(255,255,255,0);}
  100% { opacity: 1; }
}