// ==========================================================
// Padding
// ==========================================================

for i in (0..10)
  .p{i}
    padding: lookup('unit' + i)


// ==========================================================
// Padding - Desktop
// ==========================================================

@media laptop
  for i in (0..10)
    .d-p{i}
      padding: lookup('unit' + i)


// ==========================================================
// Padding Top
// ==========================================================

for i in (0..10)
  .pt{i}
    padding-top: lookup('unit' + i)


// ==========================================================
// Padding Right
// ==========================================================

for i in (0..10)
  .pr{i}
    padding-right: lookup('unit' + i)


// ==========================================================
// Padding Bottom
// ==========================================================

for i in (0..10)
  .pb{i}
    padding-bottom: lookup('unit' + i)


// ==========================================================
// Padding Left
// ==========================================================

for i in (0..10)
  .pl{i}
    padding-left: lookup('unit' + i)


// ==========================================================
// Desktop Padding Top
// ==========================================================

@media laptop
  for i in (0..10)
    .d-pt{i}
      padding-top: lookup('unit' + i)


// ==========================================================
// Desktop Padding Right
// ==========================================================

@media laptop
  for i in (0..10)
    .d-pr{i}
      padding-right: lookup('unit' + i)


// ==========================================================
// Desktop Padding Bottom
// ==========================================================

@media laptop
  for i in (0..10)
    .d-pb{i}
      padding-bottom: lookup('unit' + i)


// ==========================================================
// Desktop Padding Left
// ==========================================================

@media laptop
  for i in (0..10)
    .d-pl{i}
      padding-left: lookup('unit' + i)
