html {
	font-size 13px;
	font-family typeface-body, serif;
	@media laptop {
		font-size: 15px;
	}
}
body, p {
	font-size: 1rem
}

@media (min-width: 62em) {
  body, p {
    font-size: 1rem
  }
}

.Unselectable {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
p {
	line-height 150%
	text-align left
	cursor: default;
	padding-bottom: 1rem;
	margin -.5em 0 0em 0
}
@media laptop {
	p {
		padding-bottom: 1.2rem;
		margin -.5em 0 1em 0
	}
}
i, .italic{
	font-family: typeface-primary-italic;
	font-style: normal;
}
a {
	text-decoration: underline;
	color: color-text;
	position: relative;
	cursor: pointer;
}
/* a.NavLink:after {
	content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  border-bottom: 1px solid color-gold;
  transition: 200ms;
} */
/* a:before {
	content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  border-bottom: 1px solid hsla(0,0%,0%,.3);
  transition: 200ms;
	padding: 5px 0;
} */
a.FancyLink:before {
	padding: 50px 0;
}
a.NavLink:before {
	content: none;
	display: none;
}
a.FancyLink:hover:after {
  width: 100%;
}
a.NoLine {
	border: none;
	text-decoration: none;
}
a.NoLine:after, a.NoLine:before {
	display: none;
	opacity: 0;
}
.lift {
	transition: all 200ms ease-out;
	transform: translateY(0px);
	display: block;
}
.lift:hover {
	transform: translateY(-5px);
}
.lift:hover a:before, .lift:hover a:after {
	bottom: -15px;
	border-color: color-gold;
}
hr {
	width: 100%;
	height: 1px;
	border: none;
	background: black;
	opacity: .2;
	margin: 4vw 0;
}

strong {
	font-weight: normal;
}

h1,h2,h3,h4,h5,h6 {
	margin 0;
	padding: 0;
	font-weight: normal;
	font-family: typeface-secondary;
	line-height 130%
	position relative
	z-index 80;
	cursor: default;
}

h1 {
	font-size: 2rem;
}

ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	margin-bottom: .8rem;
	//margin-left: -1.5rem;
}

// BUTTONS

.PrimaryCTA {
	font-size: .8rem;
	color: color-text;
	text-transform: uppercase;
	letter-spacing: .04rem;
	font-weight: bold;
	text-align: center;
	border: 1px solid color-text;
	border-radius: 3px;
	padding: .5rem 1rem;
	background: none;

}

// TYPE STYLES

.Display1 {
	font-size: 14vw;
	line-height: 110%;
	font-family: typeface-secondary;
}
@media laptop {
	.Display1 {
		font-size: 5vw;
	}
}
.Display1 a, .Display1 i {
	font-family: typeface-secondary-italic;
	font-style: normal;
}
.Display1 a {
	border-bottom: 1px solid color-gold;
}
.Display2 {
	font-size: 20px;
	line-height: 140%;
	font-family: typeface-primary;
}
@media laptop {
	.Display2 {
		font-size: 18px;
	}
}
@media desktop {
	.Display2 {
		font-size: 1.4vw;
	}
}
@media bigscreen {
	.Display2 {
		font-size: 25px;
	}
}
.LabelText {
	font-size: .8rem
	text-transform: uppercase;
	letter-spacing: .04rem;
	font-weight: bold;
}
.Caption {
	font-size: .9rem;
	text-transform: uppercase;
	letter-spacing: .05rem;
	font-family: typeface-tertiary;
}
@media laptop {
	.Caption {
		font-size: 1rem
	}
}

.typeface-tertiary {
	font-family: typeface-tertiary;
}

.Center {
	text-align: center;
}
