.flex {
	display: flex;
}

.AlignCenter,
.align-center {
	align-items: center;
	display: flex;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-space-between {
	justify-content: space-between;
}

.AlignTop {
	align-items: flex-start;
	display: flex;
}

.ShowDesktop {
	// display: none;
	visibility: hidden;
}
@media laptop {
	.ShowDesktop {
		// display: inline;
		visibility: visible;
	}
}
.ShowMobile {
	// display: inline;
	visibility: visible;
}
@media laptop {
	.ShowMobile {
		// display: none;
		visibility: hidden;
	}
}

.CenterText,
.text-align-center {
	text-align: center;
}

.lineHeight150 {
	line-height: 150%;
}

// OPACITY

.op20 {
	opacity: .2;
}
.op30 {
	opacity: .3;
}
.op50 {
	opacity: .5;
}
.op60 {
	opacity: .6;
}

.rounded10 {
	border-radius: 10px;
}

.fullWidth {
	width: 100%;
}

.color-negative {
	color: color-negative
}

.color-white {
	color: white;
}

.color-accent-primary {
	color: orange;
}

.color-tock-blue {
	color: color-tock-blue
}

.uppercase {
	text-transform: uppercase;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
