.flex {
	display: flex;
}

.AlignCenter,
.align-center,
.flex-align-center {
	align-items: center;
	display: flex;
}

.justify-content-start {
	justify-content: start;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-space-between {
	justify-content: space-between;
}

.AlignTop,
.flex-align-top {
	align-items: flex-start;
}

.flex-align-bottom {
	align-items: flex-end;
}


.ShowDesktop {
	// display: none;
	visibility: hidden;
}
@media laptop {
	.ShowDesktop {
		// display: inline;
		visibility: visible;
	}
}
.ShowMobile {
	// display: inline;
	visibility: visible;
}
@media laptop {
	.ShowMobile {
		// display: none;
		visibility: hidden;
	}
}

.CenterText,
.text-align-center {
	text-align: center;
}

.lineHeight150 {
	line-height: 150%;
}

// OPACITY

.op20, .op30 {
	opacity: .2;
}
.op50 {
	color: #525252;
}

.rounded10 {
	border-radius: 10px;
}

.border-top {
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.border-bottom {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.fullWidth {
	width: 100%;
}

.color-negative {
	color: color-negative
}

.color-white {
	color: white;
}

.color-accent-primary {
	color: #f6977e;
}

.color-tock-blue {
	color: color-tock-blue
}

.uppercase {
	text-transform: uppercase;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bg-brand-1
	background brand-color-1
	--surface-color brand-color-1

.bg-brand-2
	background brand-color-2
	--surface-color brand-color-2

.bg-brand-3
	background brand-color-3
	--surface-color brand-color-3

.bg-brand-4
	background brand-color-4
	--surface-color brand-color-4


.z-level-0 {
	z-index: 0;
}

.z-level-10 {
	z-index: 10;
}

.z-level-20 {
	z-index: 20;
}

.z-level-30 {
	z-index: 30;
}

.z-level-100 {
	z-index: 100;
}
