/* Colors */

/* Dark Green */
$color-primary = #2E4400
/* Light Green */
$color-secondary = #6B8700
/* Yellow */
$color-tertiary = #FF9F00
/* Brown */
$color-quaternary = #885932

@media laptop {
  .yurthead {
    position: relative;
  }
}

.yurtmenu {
  text-align: left;
  width: 100%;
  max-width: 600px;
  position: absolute;
  top: 0;
}

.yurtmenu-contents {
  background: #fcfbfa;
  border-radius: 20px;
  position: relative;
  /* margin-top: -35px; */
}

.yurt-cat-title {
  font-family: 'futuramaxicgbold';
  color: $color-primary;
  font-size: 1.5rem;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid $color-primary;
}

.yurt-sub-title {
  font-family: 'futuramaxicgbold';
  color: $color-secondary;
  font-size: 1.5rem;
  text-transform: uppercase;
  width: 100%;
  text-align: left;
  /* border-bottom: 2px solid $color-primary; */
}

.yurt-item-title {
  font-family: 'futuramaxicgbold';
  color: $color-primary;
  font-size: 1.5rem;
  line-height: 130%;
}

.yurt-item-price {
  font-family: 'futuramaxicgbold';
  color: $color-tertiary;
  font-size: 1.5rem;
  line-height: 130%;
}

.yurt-item-desc {
  font-family: 'futuramaxicgbold', HelveticaBold, Helvetica-Bold, sans-serif;
  font-size: 1rem;
  line-height: 140%;
  color: $color-secondary;
  text-transform: uppercase;
  /* flex-basis: 100%; */
}

.yurt-item-note {
  font-family: 'futuramaxicgbold', HelveticaBold, Helvetica-Bold, sans-serif;
  color: $color-secondary;
  font-size: 1rem;
  text-transform: none;
  line-height: 140%;
}

.yurt-fulllist {
  background: $color-primary;
  padding: 18px 20px;
  color: white;
  border-radius: 40px;
  border: none;
  font-family: 'futuramaxicgbold', HelveticaBold, Helvetica-Bold, sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
}

.yurt-nav {
  background: $color-tertiary;
  font-family: 'futuramaxicgbold';
  color: white;
  font-size: 1.5rem;
  margin-top: -.5rem;
  /* margin-top: -5rem;
  margin-bottom: 5rem; */
}

.yurt-nav li {
  opacity: .7;
  cursor: pointer;
}

.yurt-nav .active {
  opacity: 1;
  border-bottom: 3px solid white;
}
