@media laptop {
  .yurthead {
    position: relative;
  }
}

.yurtmenu {
  text-align: left;
  width: 100%;
  max-width: 600px;
  position: absolute;
  top: 0;
}

.yurtmenu-contents {
  background: #fcfbfa;
  border-radius: 20px;
  position: relative;
  margin-top: -35px;
}

.yurt-cat-title {
  font-family: 'OGSequel';
  color: #1B5E65;
  font-size: 1.5rem;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #1B5E65;
}

.yurt-sub-title {
  font-family: 'OGSequel';
  color: #79C2CB;
  font-size: 1.5rem;
  text-transform: uppercase;
  width: 100%;
  text-align: left;
  border-bottom: 2px solid #1B5E65;
}

.yurt-item-title {
  font-family: 'OGSequel';
  color: #1B5E65;
  font-size: 1.5rem;
}

.yurt-item-price {
  font-family: 'OGSequel';
  color: #FBB040;
  font-size: 1.5rem;
}

.yurt-item-desc,
.yurt-item-note {
  font-family: 'futuramaxicgbold', HelveticaBold, Helvetica-Bold, sans-serif;
  font-size: 1rem;
  color: #79C2CB;
  text-transform: uppercase;
}
