.yurtmenu {
  padding: 10px;
  text-align: left;
}

@media laptop {
  .yurtmenu {
    padding: 100px;
  }
}

.yurt-cat-title {
  font-family: 'OGSequel';
  color: #1B5E65;
  font-size: 1.5rem;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #1B5E65;
}

.yurt-sub-title {
  font-family: 'OGSequel';
  color: #79C2CB;
  font-size: 1.5rem;
  text-transform: uppercase;
  width: 100%;
  text-align: left;
}

.yurt-item-title {
  font-family: 'OGSequel';
  color: #1B5E65;
  font-size: 1.5rem;
}

.yurt-item-price {
  font-family: 'OGSequel';
  color: #FBB040;
  font-size: 1.5rem;
}

.yurt-item-desc,
.yurt-item-note {
  font-family: 'futuramaxicgbold', HelveticaBold, Helvetica-Bold, sans-serif;
  font-size: 1rem;
  color: #79C2CB;
  text-transform: uppercase;
}
