</div>
<footer class="GlobalFooter">
  <div class="FooterLine"></div>
  <div class="row">
    <div class="column col-xs-12 col-md-4">
      <p class="Caption mb0 d-mb2">RESERVATIONS:</p>
      <p class="Caption">CALL US AT<BR><a href="tel:+12062833313">(206) 283-3313</a><br>OR ONLINE <a class="ResLink">HERE</a>.</p>
    </div>
    <!-- <div class="column col-xs-12 col-md-3">
      <p class="Caption mb0 d-mb2">ADDRESS:</p>
      <p class="Caption mb0 d-mb5"><a class="NoLine" href="https://www.google.com/maps/dir/''/Canlis+Seattle,+WA+98109/@47.6430677,-122.4168205,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x54901505379f7045:0xd1009d4ff183b6c6!2m2!1d-122.3467808!2d47.643089">2576 Aurora Ave. N<br>
Seattle, WA <br>98109</a></p>
    </div> -->
    <div class="column col-xs-12 col-md-4">
      <p class="Caption mb0 d-mb2">HOURS:</p>
      <p class="Caption">
        MON-THU: 5:30 - 10PM<br>
        FRI-SAT: 5:00 - 11:30PM
      </p>
    </div>
    <div class="column col-xs-12 col-md-4">
      <p class="mb0 d-mb5"><span class="Caption">Attire:  </span>There’s a time and place to look casual. Tonight you’re going big, so dress the part. We are a dressy, fine dining restaurant and we ask that gentlemen wear a suit or sport coat if possible. No casual or athletic attire.</p>
    </div>
    <div class="column col-xs-12 col-md-8">
       <p class="Caption mt3">
         <!-- <a href="https://giftcards.canlis.com" class="NoLine">Gift Cards</a> /  -->
         <a href="careers" class="NoLine">Work at Canlis</a> / &copy 2017 Canlis</p>
    </div>
    <div class="column col-xs-12 col-md-4">
      <a href="https://www.relaischateaux.com/" target="_blank" class="RelaisLogo NoLine mt3">
        <img src="/assets/_img/relais.svg">
      </a>
    </div>
  </div>
</footer>
</div>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script src="/assets/master.js"></script>
<script src="https://widgets.resy.com/embed.js"></script>
<script>
  resyWidget.addButton(
    document.getElementById('resyButton-brppbtp7'),
    {
      "venueId":1009,
      "apiKey":"ID6KeKVfi4DZDk013RH9vP1nfYnQd57s",
      "replace":true
    }
  );
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48402864-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
