<!DOCTYPE html>
<html>
<head>
  <title>Canlis</title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link href="/assets/master.css" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="57x57" href="assets/_favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="assets/_favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/_favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/_favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/_favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/_favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/_favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/_favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/_favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="assets/_favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/_favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/_favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/_favicon/favicon-16x16.png">
  <link rel="manifest" href="assets/_favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="assets/_favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>
<body>
<div id="main" class="">
<a href="/" class="Logo mb10 Caption NoLine">Logo</a>
<div class="GlobalNav Unselectable ShowDesktop">
  <!-- <div class="GlobalNavToggle Caption Unselectable">Menu +</div> -->
  <ul class="Open">
    <li class="Caption"><a class="NavLink" href="http://www.opentable.com/canlis-reservations-seattle" target="_blank">Reservations</a></li>
    <li class="Caption">—</li>
    <li class="Caption"><a class="NavLink" href="/menu">Menu</a></li>
    <li class="Caption"><a class="NavLink" href="/drinks">Wine & Spirits</a></li>
    <li class="Caption"><a class="NavLink" href="/events">Private Events</a></li>
    <li class="Caption"><a class="NavLink" href="/people">People</a></li>
    <li class="Caption"><a class="NavLink" href="/story">Story</a></li>
  </ul>
  <!-- <ul class="SocialNav">
    <li><a href="http://twitter.com/canlis" target="_blank" class="Twitter">Twitter</a></li>
    <li><a href="http://instagram.com/canlisrestaurant" target="_blank" class="Instagram">Instagram</a></li>
  </ul> -->
</div>
<div class="NavHamburger"></div>
<div class="GlobalNav Unselectable ShowMobile">
  <ul class="Open">
    <li class="Caption"><a class="NavLink" href="http://www.opentable.com/canlis-reservations-seattle" target="_blank">Reservations</a></li>
    <li class="Caption">—</li>
    <li class="Caption"><a class="NavLink" href="/menu">Menu</a></li>
    <li class="Caption"><a class="NavLink" href="/drinks">Wine & Spirits</a></li>
    <li class="Caption"><a class="NavLink" href="/events">Private Events</a></li>
    <li class="Caption"><a class="NavLink" href="/people">People</a></li>
    <li class="Caption"><a class="NavLink" href="/story">Story</a></li>
  </ul>
<!--   <ul class="SocialNav">
    <li><a href="http://twitter.com/canlis" target="_blank" class="Twitter">Twitter</a></li>
    <li><a href="http://instagram.com/canlisrestaurant" target="_blank" class="Instagram">Instagram</a></li>
  </ul> -->
</div>
<div class="LoadingShell">
  <div class="logo_building">
    <svg height="73px" version="1.1" viewbox="0 0 179 73" width="179px" xmlns="http://www.w3.org/2000/svg">
    <g fill="none" fill-rule="evenodd" id="Exports" stroke="none" stroke-width="1">
      <g id="Page-1" stroke="#000000" stroke-width="4" transform="translate(0.000000, 1.000000)">
        <g id="Group-5" transform="translate(6.000000, 2.402100)">
          <polyline id="Stroke-1" points="50.8988 17.8257 50.8988 64.0757 139.1488 66.9557 166.1488 0.3257"></polyline>
          <polyline id="Stroke-2" points="59.3988 31.9825 59.3988 55.0755 8.7288 55.5755 0.2588 16.7655"></polyline>
        </g>
        <path d="M39.3988,41.4178 L82.6488,41.4178" id="Stroke-3"></path>
        <g id="Group-11" transform="translate(0.000000, 0.402100)">
          <path d="M0.5209,18.0186 L66.8049,35.8956" id="Stroke-4"></path>
          <path d="M178.6488,0.5757 L50.8988,19.8257" id="Stroke-5"></path>
        </g>
      </g>
    </g></svg>
  </div>
</div>

<div class="PageContent">
