<!DOCTYPE html>
<html>
<head>
  <title>Canlis — {{ page.title }}</title>
  <meta charset="UTF-8">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="Jeremy P. Beasley / @jeremypbeasley">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Facebook Open Graph Tags -->
  <meta property="og:URL" content="http://canlis.com" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Canlis — {{ page.title }}" />
  {% if page.og_desc %}
    <meta property="og:description" content="{{ page.og_desc }}" />
    {% else %}
    <meta property="og:description" content="{{ site.description }}" />
  {% endif %}
  {% if page.og_photo %}
    <meta property="og:image" content="{{ site.url }}{{ page.og_photo }}" />
    {% else %}
    <meta property="og:image" content="{{ site.url }}{{ site.og_photo}}" />
  {% endif %}
  <!-- Twitter Sharing Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@canlis">
  <meta name="twitter:title" content="Canlis — {{ page.title }}">
  {% if page.og_desc %}
    <meta name="twitter:description" content="{{ page.og_desc }}"/>
    {% else %}
    <meta name="twitter:description" content="{{ site.description }}" />
  {% endif %}
  {% if page.og_photo %}
    <meta name="twitter:image" content="{{ site.url }}{{ page.og_photo }}" />
    {% else %}
    <meta name="twitter:image" content="{{ site.url }}{{ site.og_photo}}" />
  {% endif %}
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PJCFT8T');</script>
  <!-- End Google Tag Manager -->

  <script src="
  https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js
  "></script>
  <link href="
  https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css
  " rel="stylesheet">

  <link href="/uploads/master.css?version={{ 'now' | date: "%m%d%Y%H%M%S" }}" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="57x57" href="/uploads/_favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/uploads/_favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/uploads/_favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/uploads/_favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/uploads/_favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/uploads/_favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/uploads/_favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/uploads/_favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/uploads/_favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/uploads/_favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/uploads/_favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/uploads/_favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/uploads/_favicon/favicon-16x16.png">
  <link rel="manifest" href="/uploads/_favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/uploads/_favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>
<body class="{{ page.layout }}">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PJCFT8T"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div id="main" class="">
<a href="/" class="Logo mb10 Caption NoLine">Logo</a>
<div class="GlobalNav Unselectable ShowDesktop">
  <ul class="Open">
    <li class="Caption">
      <a class="NavLink" href="{{ site.reservations_link }}">Reservations</a>
    </li>
    <li class="Caption">
      <a class="NavLink" href="https://giftcards.canlis.com/">Gift Cards</a>
    </li>
    <li class="Caption color-white">—</li>
    {% for item in site.global_nav %}
      <li class="Caption">
        <a class="NavLink" href="{{ item.slug }}">{{ item.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
<div class="NavHamburger Caption">
  <div>
    <span class="Close">Close</span>
  </div>
  <div>
    <span class="Open">Menu</span>
  </div>
</div>
<div class="GlobalNav Unselectable ShowMobile">
  <div class="GlobalNavInside AlignCenter">
    <ul class="Open">
      <li class="Caption"><a class="NavLink" href="{{ site.reservations_link }}">Reservations</a></li>
      <li class="Caption"><a class="NavLink" href="https://giftcards.canlis.com/">Gift Cards</a></li>
      <li class="Caption color-white">—</li>
      {% for item in site.global_nav %}
        <li class="Caption">
          <a class="NavLink" href="{{ item.slug }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>


{% assign announcement = site.pages | where: "slug", "announcement" | first %}
{% if announcement.is_pop_up == true %}
  <div class="Announcement">
    <div class="AnnouncementOverlay"></div>
    <div class="AnnouncementCard">
      <div class="CloseButton">
        <div>
          <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path fill="#000"  id="a" d="M11.475 25.015H24.18V12.31h2.64v12.705h12.705v2.64H26.82V40.36h-2.64V27.655H11.475z"/></defs><use fill-rule="nonzero" transform="rotate(45 25.5 26.335)" xlink:href="#a"/></svg>
        </div>
      </div>
      <div class="AnnouncementContent" onclick="location.href='{{announcement.link}}';">
        <h1 class="pb5 Caption">{{announcement.subtitle}}</h1>
        <p class="mb2 Display2">{{announcement.description}}</p>
        <p class="Caption lift">
          <a class="FancyLink">{{announcement.link_text}}</a>
        </p>
      </div>
      <img class="AnnouncementImage" onclick="location.href='{{announcement.link}}';" src="{{announcement.pop_up_image}}"/>
    </div>
  </div>
{% endif %}





<div class="PageContent">
