</div>
<div class="Divider ShowMobile op20"></div>
<footer class="m3 flex flex-center">
  <div class="row">
    <div class="column col-xs-12 col-md-4">
      <div class="Caption mb4">Policies</div>
      <p>Click <a href="/reservations">here</a> for more information on dietary restrictions, attire, children, and cancellations.</p>
    </div>
    <div class="column col-xs-12 col-md-4">
        <div class="Caption mb4">Directions</div>
        <p class="mb0 pb0">2576 Aurora Ave N, Seattle, WA 98109<br>
        <i class="mb4"><a href="https://maps.app.goo.gl/mZ3wEHvjgAq7eY3P7">Get directions</a>.</i></p>
    </div>
    <div class="column col-xs-12 col-md-4">
        <div class="Caption mb4">Get in touch</div>
        <p class="mt mb0 d-mb1">Call us at <a class="" href="tel:2062833313">(206) 283-3313</a> or email <a class="" href="mailto:reservations@canlis.com">reservations@canlis.com</a>
          </p>
        <p>&copy 1950 - {{ 'now' | date: "%Y" }} Canlis</p>
    </div>
  </div>
</footer>
</div>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script src="/uploads/master.js?version={{ 'now' | date: "%m%d%Y%H%M%S" }}"></script>

<!-- Ensure the logo, navigation, and address are inverted (white) only on the home page due to dark background video -->
{% if page.layout == 'home' or page.layout == 'home_fall_2021' %}
  <script>
    $(".GlobalNav.ShowDesktop").addClass("Inverted");
    $(".AddressSidebar").addClass("Inverted");
    $(".NavHamburger").addClass("Inverted");
    $('.Logo').hide();
  </script>
{% endif %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-48402864-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-48402864-1');
</script>
</body>
</html>
