</div>
<div class="Divider ShowMobile op20"></div>
<footer class="m3 flex flex-center">
  <div class="row">
    <div class="column col-xs-12 col-md-3">
      <div class="Caption mb4">Attire</div>
      <p>We love being Seattle’s dressy restaurant. We recommend  a suit or sport coat for men, and ask that no casual attire or shorts be worn. On this night, you can’t be overdressed, so go big and have fun with it.</p>
    </div>
    <div class="column col-xs-12 col-md-3">
        <div class="Caption mb4">Vaccines</div>
        <p class="mb0 pb0">We strongly encourage our guests to be vaccinated but will not require verification to enter our dining room at this time. Our service staff wear masks and local governance requires guests to wear masks while not eating. We will continue to update this policy as state and local mandates evolve. </p>
    </div>
    <div class="column col-xs-12 col-md-3">
        <div class="Caption mb4">Children</div>
        <p class="mb0 pb0">All ages are welcome in our dining room, but we ask that everyone be prepared for a lengthy dining experience. We don’t allow tablets or phones to entertain kids as this can be a distraction for other guests.</p>
    </div>
    <div class="column col-xs-12 col-md-3">
        <div class="Caption mb4">Etc.</div>
        <p class="mb0 pb0">Get early access and a peek behind the scenes.
        <i class="mb4"><a href="http://eepurl.com/c-wXyz">Sign up for the Canlis Newsletter</a>.</i></p>
        <p class="mt2 mb1 d-mb1 Caption"><a class="NoLine" href="tel:2062833313">(206) 283-3313</a></p>
        <p>&copy 1950 - {{ 'now' | date: "%Y" }} Canlis</p>
    </div>
  </div>
</footer>
</div>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script src="/uploads/master.js?version={{ 'now' | date: "%m%d%Y%H%M%S" }}"></script>

<!-- Ensure the logo, navigation, and address are inverted (white) only on the home page due to dark background video -->
{% if page.layout == 'home' or page.layout == 'home_fall_2021' %}
  <script>
    $(".GlobalNav.ShowDesktop").addClass("Inverted");
    $(".AddressSidebar").addClass("Inverted");
    $(".NavHamburger").addClass("Inverted");
    $('.Logo').hide();
  </script>
{% endif %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-48402864-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-48402864-1');
</script>
</body>
</html>
