{% assign occasion_module = site.data.pdr_occasions %}


<div class="color-white p3 d-p10 bg-brand-1" id="anchor-occasions">
  <h1 class="text-align-center mb6 Display2 mt10">
    {{ occasion_module.title }}
  </h1>

  <div class="row flex room-options-row d-mb10">
    {% for item in occasion_module.occasions %}
      <div class="column col-xs-12 room-card col-md-3 text-align-center pb6 d-pb0">

        <div class="room-card__content">
          <p class="mb2 d-mb1 text-align-center">
            {{ item.desc }}
          </p>
        </div>

        <a
          href="{{ item.link_url }}"
          class="brand-button brand-button--light brand-button--solid"
        >
          {{ item.title }}
        </a>

      </div>
    {% endfor %}
  </div>
</div>
