<div class="photo_feature text-align-center p5 flex flex-align-bottom justify-content-center" style="background-image: url({{ page.photo_feature_photo }})">
  <div class="photo_feature_content">
    {% if page.photo_feature_content %}
    <div class="photo_feature_text">
      <h1 class="mb4 color-white Display2">{{ page.photo_feature_content_title}}</h1>
      <p class="Caption text-align-center color-white">
      {{ page.photo_feature_content_desc}}
        </p>
    </div>
    {% endif %}
  </div>
</div>
