{% include yurthead.html %}

<div class="canteen-nav-container">
  <nav class="canteen-nav justify-content-center">
    <ul class="flex justify-content-center">
      <li id="menu-food-trigger" class="m2 active">Food</li>
      <li id="menu-drinks-trigger" class="m2">Drinks</li>
    </ul>
  </nav>
</div>

<div class="canteen-content flex">
  <div id="canteen-menu-drinks">
      <div class="canteen-section mb3 pb3 pt3">
        <h1>Drinks</h1>
      </div>
      <div class="yurtmenu-contents p3" id="menu-drinks">
      {% for drinks-category in page.drinks %}
        <div>
          {% if drinks-category.category-title %}
            <div class="yurt-cat-title pt2 pb4 mb5">{{ drinks-category.category-title }}</div>
          {% endif %}
          {% if drinks-category.category-title == "Wine" %}
            <div class="mb4 mt5">
              <div class="yurt-sub-title mb4">Full List</div>
            </div>
            <div class="mb7 mt2">
              <div class="">Our award-winning cellar is entirely at your disposal.</div>
              <div class="mt4">
                <a class="yurt-fulllist mt4 NoLine" href="https://canlis.com/uploads/winelist.pdf" target="_blank">See the full list</a>
              </div>
            </div>
          {% endif %}
          <!-- CATEGORIES WITH SUBS -->
          {% for subcategory in drinks-category.subcategories %}
            <div class="mb6 mt5">
              <div class="yurt-sub-title mb4">{{ subcategory.title }}</div>
            </div>
            {% if subcategory.items %}
              {% for item in subcategory.items %}
                <div class="mb3 flex">
                  <div class="yurt-item-title mb1 mr1">{{ item.title }}</div>
                  {% if item.note %}
                    <div class="yurt-item-note mt2">{{ item.note }}</div>
                  {% endif %}
                  <div class="yurt-item-price mr1">{{ item.price }}</div>
                  <div class="yurt-item-desc mt1">{{ item.desc }}</div>
                </div>
              {% endfor %}
            {% endif %}
          {% endfor %}
          <!-- CATEGORIES WITHOUT SUBS -->
          {% for item in drinks-category.items %}
          <div class="mb3 flex">
            <div class="yurt-item-title mb1 mr1">{{ item.title }}</div>
            <div class="yurt-item-price mb1 mr1">{{ item.price }}</div>
            {% if item.note %}
              <div class="yurt-item-note mb2">{{ item.note }}</div>
            {% endif %}
            <div class="yurt-item-desc">{{ item.desc }}</div>
          </div>
          {% endfor %}
        </div>
      {% endfor %}
      </div>
  </div>
  <div id="canteen-menu-food">
    <div class="canteen-section mb3 pb3 pt3">
      <h1>Plates</h1>
      <div class="flex justify-content-space-between mb1 mt3">
        <div class="flex-column uppercase">
          1 MEAT
          <span class="canteen-small"> (8oz)</span>
        </div>
        <div class="flex-column uppercase">$22.95</div>
      </div>
      <div class="flex justify-content-space-between mb2">
        <div class="flex-column uppercase">
          2 MEATS
          <span class="canteen-small"> (12oz)</span>
        </div>
        <div class="flex-column uppercase">$32.95</div>
      </div>
      <div class="flex mb2">
        Brisket, Pulled Pork, Habanero Garlic Sausage, or Jackfruit ( ⇦ Not Meat)
      </div>
      <div class="mb1 canteen-small">*all plates include two sides ⇩</div>

    </div>
    <div class="canteen-section mb3 pb3">
      <h1>Sides</h1>
      <div class="flex mt3">
        Hushpuppies, Dills, BBQ Beans, Jalapeño Potato Chips
      </div>
      <img src="/uploads/horse.gif">
    </div>
    <div class="canteen-section mb3 pb3">
      <h1>& More</h1>
      <div class="flex justify-content-space-between mb2 mt3">
        <div class="flex-column uppercase mb1" >BBQ Sandwich</div>
        <div class="flex-column">$17.95</div>
        <div class="flex-full canteen-small">Your choice of Brisket or Pulled Pork, served on white bread and Chips </div>
      </div>
      <div class="flex justify-content-space-between mb2">
        <div class="flex-column uppercase mb1">Frito Pie</div>
        <div class="flex-column">$14.95</div>
        <div class="flex-full canteen-small">Texas classic! Corn chips topped with seasoned ground beef, sour cream, jalapeños, cheddar, and scallions
        </div>
      </div>
      <div class="flex justify-content-space-between mb2">
        <div class="flex-column uppercase">Corn Bread</div>
        <div class="flex-column">$7.95</div>
      </div>
      <div class="flex justify-content-space-between mb2">
        <div class="flex-column uppercase">Mixed Nuts</div>
        <div class="flex-column">$6.00</div>
      </div>
    </div>
    <div class="jesus relative">
        <h2>"Jesus Take The Wheel"</h2>
        <img src="/uploads/mandancing.gif"/>
        <div class="mb2">$48 PER PERSON</div>
        <div class="">A sampling of all the meats (1lb total), all the sides, cornbread, cobbler and pecan pie. Must be ordered by the entire table!
  </div>
        <section class="burst"></section>
    </div>
    <div class="canteen-section mb3 pb3">
      <h1>Sweets</h1>
      <div class="flex justify-content-space-between mt3 mb2">
        <div class="flex-column uppercase">RHUBARB COBBLER</div>
        <div class="flex-column">$7.95</div>
      </div>
      <div class="flex justify-content-space-between mb2">
        <div class="flex-column uppercase">PECAN PIE</div>
        <div class="flex-column">$7.95</div>
      </div>
      <div class="flex justify-content-space-between mb2">
        <div class="flex-column uppercase">Vanilla Bean Ice cream Sandwich ❄</div>
        <div class="flex-column">$5.95</div>
      </div>
    </div>
  </div>
  <div class="canteen-footer">
    <center class="mt2 mb4">
        <img src="https://canlis.com/assets/_img/canlis_logo_new.svg" width="100"/>
        <div class="canteen-small mt2">Happy Campin' Since 1950</div>
    </center>
    <img src="/uploads/3D.gif"/>
  </div>
</div>
