{% include head.html %}
<div class="Intro">
  <h1 class="Display1 ShowDesktop">{{ page.headline }}</h1>
  <h1 class="Display1 ShowMobile">{{ page.headline_mobile }}</h1>
</div>
<div class="row AlignCenter d-mb10">
  <div class="column col-xs-12 col-md-4">
    <img class="CareersPhoto1" src="{{ page.photo1 }}">
  </div>
  <div class="column col-xs-12 col-md-4">
    <img class="CareersPhoto2" src="{{ page.photo2 }}">
  </div>
  <div class="column col-xs-12 col-md-4">
    <img class="CareersPhoto3" src="{{ page.photo3 }}">
  </div>
</div>
<div class="row d-mt10 d-mb10">
  <div class="column col-xs-12 col-md-4 ">
    <p class="Caption mb2">{{ page.section1.title }}</p>
    {{ page.section1.desc | markdownify }}
  </div>
  <div class="column col-xs-12 col-md-4">
    <p class="Caption mb2">{{ page.section2.title }}</p>
    {{ page.section2.desc | markdownify }}
    <p class="Caption mb2 mt7 d-mt5">{{ page.section3.title }}</p>
    {{ page.section3.desc | markdownify }}
  </div>
  <div class="column col-xs-12 col-md-4">
    <p class="mb5"><span class="Caption">{{ page.section4.title }}: </span>{{ page.section4.desc }}</p>
    <p class="mb5"><span class="Caption">{{ page.section5.title }}: </span>{{ page.section5.desc }}</p>
    <p class="mb5"><span class="Caption">{{ page.section6.title }}: </span>{{ page.section6.desc }}</p>
  </div>
</div>
<div class="row AlignCenter d-mb10">
  <div class="column col-xs-12 col-md-4">
    <img class="CareersPhoto4" src="{{ page.photo4 }}">
  </div>
  <div class="column col-xs-12 col-md-4">
    <img class="CareersPhoto5" src="{{ page.photo5 }}">
  </div>
  <div class="column col-xs-12 col-md-4">
    <img class="CareersPhoto6" src="{{ page.photo6 }}">
  </div>
</div>

{% include footer.html %}
