{% include head.html %}
<div class="Intro">
  <h1 class="Display1 ShowDesktop">{{ page.headline }}</h1>
  <h1 class="Display1 ShowMobile">{{ page.headline_mobile }}</h1>
</div>
<div class="row AlignCenter d-mb10">
  <div class="column col-xs-12 col-md-4">
    <img class="CareersPhoto1" src="{{ page.photo1 }}">
  </div>
  <div class="column col-xs-12 col-md-4">
    <img class="CareersPhoto2" src="{{ page.photo2 }}">
  </div>
  <div class="column col-xs-12 col-md-4">
    <img class="CareersPhoto3" src="{{ page.photo3 }}">
  </div>
</div>
<div class="row d-mt10 d-mb10">
  <div class="column col-xs-12 col-md-4 ">
    <p class="Caption mb2">Working at Canlis</p>
    <p>We’re honored you are interested in joining our team. To help that process, we recommend you read most of this entire website to figure out what makes us tick. We recommend thinking about how working here will help you become more of who you want to become, not what you want to become. We recommend taking the advice of your mother — whatever it was she said, try to remember — it’s going to help you get a job here.<p>
    <p>To enquire about current employment opportunities, please email Katherine Coffman at <a href="mailto:canlis@canlis.com">canlis@canlis.com</a>.</p>
    <!-- <p class="mb3"><a href="http://canlisland.com">Go behind the scenes at Canlis!</a></p> -->
  </div>
  <div class="column col-xs-12 col-md-4">
    <p class="Caption mb2">Philosophy Matters</p>
    <p class="mb7 d-mb5">The only way we can continue to develop the Canlis experience in a way that fits with our mission and values is to invest in our people. We hire learners and we are learners ourselves. Canlis is a place where employees are nurtured and grown. Only then can they truly serve. Additionally, there is a particular humility inherent in learning. We want you to have this...or at least to desperately want to have this. It is a requirement for employment.</p>
    <p class="Caption mb2">Benefits</p>
    <p class="mb3">Medical, dental, vision, 401k, profit sharing, staff meals, dining privileges, employee educational scholarships, superb team environment, closed Sundays and major holidays...oh, and we'll never serve brunch.</p>
  </div>
  <div class="column col-xs-12 col-md-4">
    <p class="mb5"><span class="Caption">Our Mission: </span>The mission of our restaurant is to live out and grow the idea that it's worth putting other people first.</p>
    <p class="mb5"><span class="Caption">Our Vision: </span>Our vision for what it would look like if we carry out the mission perfectly: Canlis strives to be the best restaurant in America. Our people are growing emotionally, relationally, and professionally. We serve one another in a way that makes people feel valued and restored.</p>
    <p class="mb5"><span class="Caption">Our Values: </span>We value trustworthiness, generosity, and other-centered-ness.</p>
  </div>
</div>
<div class="row AlignCenter d-mb10">
  <div class="column col-xs-12 col-md-4">
    <img class="CareersPhoto4" src="{{ page.photo4 }}">
  </div>
  <div class="column col-xs-12 col-md-4">
    <img class="CareersPhoto5" src="{{ page.photo5 }}">
  </div>
  <div class="column col-xs-12 col-md-4">
    <img class="CareersPhoto6" src="{{ page.photo6 }}">
  </div>
</div>

{% include footer.html %}
