{% include minihead.html %}

<div class="mt3 d-mt8 flex">
  <div class="col mt3 ml3 mr3 d-mt15 d-mr5 d-ml15 col-onethird">
    <a class="CenterText" href="/">Back to all options</a>
    <h1 class="Display1 mb2 mt3">{{ page.title }}</h1>
    <p class="">{{ page.desc }}</p>
    {{ content }}
    <div class="Divider ShowMobile op20 mt1"></div>
  </div>
  <div class="col mt3 ml3 mr3 d-mt15 d-mr15 d-ml15 col-twothirds">
    <!-- COCKTAIL KITS -->
    <div class="mb2 contents">
        {% for drink in page.drinks %}
            <p class="DrinkCategory Caption mb2 d-mb5 mt1 d-mt8">{{ drink.drink-category }}</p>
            {% if drink.drinks %}
              {% for nestedproduct in drink.drinks %}
                <div class="mb2 d-mb3">
                    <h2 class="p0 mt0 mb1 Display2">{{ nestedproduct.title }}</h2>
                    <div class="p0 mt0 mb1 italic op60">
                      {{ nestedproduct.desc }}
                      {% if nestedproduct.volume %}
                        — {{ nestedproduct.volume }}
                      {% endif %}
                    </div>

                    {% if nestedproduct.order_link %}
                      <div class="p0 mt0 mb1">{{ nestedproduct.price }}</div>
                      {% if nestedproduct.is_soldout == true %}
                        <div class="flex mt3 mb4 SoldOut">
                          <div class="col">
                            <a class="TockButton TockButtonSoldOut op20">
                                Sold Out
                            </a>
                          </div>
                          <div class="col col-twothirds">
                            <a class="Caption NoLine color-tock-blue m2" target="_blank" href="{{ nestedproduct.waitlist_link }}">Join Waitlist</a>
                          </div>
                        </div>
                        {% else %}
                        <div class="mb4 mt3">
                          <a
                          class="TockButton mt3 mb4 OrderLink"
                          data-link="{{ nestedproduct.order_link }}"
                          >
                            Order on Tock
                          </a>
                        </div>
                      {% endif %}
                      {% else %}
                      <div class="p0 mt0 mb2 d-mb3">{{ nestedproduct.price }}</div>
                    {% endif %}
                    <div class="Divider op20 mb2 d-mb0"></div>
                </div>
              {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
  </div>
</div>



{% include minifooter.html %}
