{% include minihead.html %}

<!-- Alert Bar -->
{% if page.is_alert_shown == true %}
  <div class="AlertBar Caption">
    {{ page.alert_text}}
  </div>
{% endif %}


<div class="flex d-mt5"></div>

<!-- <div class="flex flex-center">
  <div class="WelcomeMessage ml3 mr3 mt3 CenterText">
    <div class="mb2">In early March, we shut down our dining room. Fine dining is not what Seattle needs right now. Instead, we’re bringing the food to you. We’ve got this, Seattle.</div>
    <img style="width: 200px; transform: rotate(-5deg)" src="/uploads/canlis_fam_signature.png"/>
  </div>
</div> -->



<div class="flex flex-row m3 d-m5 flex-center">
  {% for concept in page.concepts %}
    <div class="col ConceptBlock">
      <a class="NoLine" href="{{ concept.block_link }}">
        <div class="d-m0 d-p3">
          <img class="rounded10 mb2 fullWidth" src="{{ concept.image }}"/>
          <!-- <div class="mb1"><i>Delivery or Pickup</i></div> -->
          <h2 class="p0 mt0 mb1 Display2">{{ concept.title }}</h2>
          <div class="p0 mt0 mb1 op60">{{ concept.desc }}</div>
          <div class="flex">
            {% for button in concept.buttons %}
              <div class="col p0 mt0 mb3 mr3">
                <a class="NoLine Caption" href="{{ button.link }}">{{ button.label }}</a>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="Divider ShowMobile op20 mb3 d-mb0"></div>
      </a>
    </div>
  {% endfor %}
</div>

<div class="flex flex-center">
  <div class="Divider op20 mt1 d-mt4 mb3 d-mb5"></div>
  <div class="p0 mt1 d-mt8 mb4 d-mb1 CenterText">
    Get early access and a peek behind the scenes.<br>
    <i><a href="http://eepurl.com/c-wXyz">Sign up for the Canlis Newsletter</a>.</i> <span class="spam_starburst"><svg height="23px" version="1.1" viewbox="0 0 23 23" width="23px" xmlns="http://www.w3.org/2000/svg">
    <title>✹</title>
    <g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1">
      <g id="Artboard-Copy-39" transform="translate(-1252.000000, -540.000000)">
        <text fill="#000000" font-family="GTSectra-Book, GT Sectra" font-size="15" font-weight="300" id="Get-early-access-to" letter-spacing="0.375" line-spacing="23">
          <tspan x="1001" y="528">
            G
          </tspan>
          <tspan x="1012.505" y="528">
            et early access to dinner and tickets.
          </tspan>
          <tspan font-family="GTSectra-BookItalic, GT Sectra" font-style="italic" x="1001" y="551">
            Sign up for
          </tspan>
          <tspan font-family="GTSectra-BookItalic, GT Sectra" font-style="italic" text-decoration="underline" x="1073.345" y="551">
            The Weekly SPAM
          </tspan>
          <tspan font-family="GTSectra-BookItalic, GT Sectra" font-style="italic" x="1182.305" y="551">
            .
          </tspan>
        </text>
        <polygon fill="#F99B9B" fill-rule="nonzero" id="✹" points="1263.83789 562.509766 1265.27855 556.94603 1269.34539 561.025103 1267.82971 555.506357 1273.36722 557.006016 1269.28537 552.956937 1274.83789 551.502267 1269.28537 550.062595 1273.36722 546.013515 1267.82971 547.513174 1269.34539 541.994428 1265.27855 546.073501 1263.83789 540.509766 1262.39724 546.073501 1258.33039 541.994428 1259.84608 547.513174 1254.30856 546.013515 1258.40542 550.062595 1252.83789 551.502267 1258.40542 552.956937 1254.30856 557.006016 1259.84608 555.506357 1258.33039 561.025103 1262.39724 556.94603"></polygon>
      </g>
    </g></svg></span>
  </div>
</div>

</div>


{% include minifooter.html %}
