{% include yurthead.html %}

<div class="camp-eagle"></div>

<div class="camp">
  <!-- LOGO -->
  <div class="camp-mountain flex justify-content-center">
    <img class="camp-title" src="/uploads/camp-title.png"/>
    <div class="camp-mountain-image"></div>
  </div>
  <!-- NOTIFY ME SECTION -->
  <div class="camp-notify text-align-center flex justify-content-center">
      <div>
        <h1 class="text-align-center mb3">Tickets go on sale this Monday at Noon.</h1>
      </div>
      <div>
        <p class="text-align-center">Want to be notified when we launch?</p>
      </div>
      <div class="signup">
        <form action="https://canlis.us17.list-manage.com/subscribe/post?u=32f6e6c858c315fd7e45caafc&amp;id=5ae1b4babb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="novalidate">

        		<div class="response mt3 pb3" id="mce-error-response" style="display:none"></div>
        		<div class="response mt3 pb3" id="mce-success-response" style="display:none"></div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_32f6e6c858c315fd7e45caafc_09bdc2345e" tabindex="-1" value=""></div>
            <div class="flex">
        	  <input type="email" value="" name="EMAIL" placeholder="happycamper@aol.com" class="required email" id="mce-EMAIL" aria-required="true">
            <div class="clear">
              <input type="submit" value="Notify" name="subscribe" id="mc-embedded-subscribe" class="button">
            </div>
            </div>
        </form>
        <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[3]='ADDRESS';ftypes[3]='address';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      </div>
  </div>
  <!-- LOCATIONS  -->
  <div class="camp-location-list flex justify-content-center">
    <div class="camp-location">
      <img
        class="camp-location-image"
        src="/uploads/camp-location-1.svg"
      />
      <div class="camp-location-description">
        Fine dining meals in private yurts that look a lot like Canlis was running your favorite summer camp.
      </div>
      <div class="camp-location-notice">
       AMEX Cardholder Exclusive
      </div>
      <!-- <div class="camp-location-CTA">
        <a href="" class="NoLine">
          <button>Reserve</button>
        </a>
      </div> -->
    </div>
    <div class="camp-location">
      <img
        class="camp-location-image"
        src="/uploads/camp-location-2.svg"
      />
      <div class="camp-location-description">
        One table, on our roof, at the edge of the world, an elevated treehouse tasting menu.
      </div>
      <!-- <div class="camp-location-notice">
        Tickets go on sale 5/1
      </div> -->
      <!-- <div class="camp-location-CTA">
        <a href="" class="NoLine">
          <button>Reserve</button>
        </a>
      </div> -->
    </div>
    <div class="camp-location">
      <img
        class="camp-location-image"
        src="/uploads/camp-location-3.svg"
      />
      <div class="camp-location-description">
        Outdoor casual smokehouse fare, campfires, cold drinks, BBQ & booze.
      </div>
      <div class="camp-location-notice">
        Opens May 1st
      </div>
      <!-- <div class="camp-location-CTA">
        <a href="" class="NoLine">
          <button>Reserve</button>
        </a>
      </div> -->
    </div>
    <div class="camp-location">
      <img
        class="camp-location-image"
        src="/uploads/camp-location-4.svg"
      />
      <div class="camp-location-description">
        There’s someone you know, right now, who could really use one. All our favorite things tied in boxes with string.
      </div>
      <!-- <div class="camp-location-notice">
        Tickets go on sale 5/1
      </div> -->
      <!-- <div class="camp-location-CTA">
        <a href="" class="NoLine">
          <button>Order</button>
        </a>
      </div> -->
    </div>
  </div>
  <div class="camp-closing flex align-center mt3 justify-content-center ">
    <img class="d-mb10" src="/uploads/sunset.gif"/>
    <!-- <div class="text-align-center">"One last pivot for old time's sake."</div> -->
  </div>
</div>
