<!DOCTYPE html>
<html>
<head>
  <title>{{ site.title }}</title>
  <meta charset="UTF-8">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="Jeremy P. Beasley / @jeremypbeasley">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Facebook Open Graph Tags -->
  <meta property="og:URL" content="http://canlis.com" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Time's are changing, and so are we. For now. " />
  <meta property="og:description" content="We’re shutting down our dining room and bringing the food out to you." />
  <meta property="og:image" content="http://canlis.com/uploads/nelson_share.jpg" />
  <!-- Twitter Sharing Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@canlis">
  <meta name="twitter:title" content="Time's are changing, and so are we. For now. ">
  <meta name="twitter:description" content="We’re shutting down our dining room and bringing the food out to you.">
  <meta name="twitter:image" content="http://canlis.com/uploads/nelson_share.jpg">
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PJCFT8T');</script>
  <!-- End Google Tag Manager -->

  <link href="/assets/master.css?version=jun2019" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="57x57" href="assets/_favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="assets/_favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/_favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/_favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/_favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/_favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/_favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/_favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/_favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="assets/_favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/_favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/_favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/_favicon/favicon-16x16.png">
  <link rel="manifest" href="assets/_favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="assets/_favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>
<body class="{{ page.layout }}">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PJCFT8T"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div id="main" class="">
<a href="/" class="Logo LogoCenter  mb10 Caption NoLine">Logo</a>

<div class="PageContent">

<div class="row tall">
  <div class="column col-xs-12 col-md-5 col-md-offset-1 d-mt6 ShowDesktop ">
    <h1 class="Display1 mb0 d-mb6 mt10 d-mt10">Time’s are changing and so are we. <br class="ShowDesktop"/>For now.</h1>
  </div>
  <div class="column col-xs-12 col-md-5 d-mt6">
    <div class="Divider ShowDesktop mb6 mt10 op30"></div>
    <h1 class="Display1 mb0 d-mb6 mt10 d-mt10 ShowMobile mb3">Time’s are changing and so are we. <br class="ShowDesktop"/>For now.</h1>
    <h2 class="Display2 ShowDesktop mb5">We’re shutting down our dining room and bringing the food out to you.</h2>
    <p class="mb1 ShowMobile">We’re shutting down our dining room and bringing the food out to you.</p>
    <p class="mb1">Fine dining is not what Seattle needs right now. Instead, this is one idea for safely creating jobs for our employees while serving as much of our city as we can.</p>
    <p class="mb0 pb1">We've got this, Seattle.</p>
    <p class="mb0 mt0 d-mt0"><img class="FamSignature" src="/assets/_img/canlis_fam_signature.png"></p>
  </div>
</div>
<div class="DriveThruPhoto d-mt5"></div>
<div class="DarkerBg pt1">
  <div class="row">
    <div class="column col-xs-12 col-md-5 col-md-offset-1 d-mt6">
      <img class="" src="/uploads/canlis_concept_01.jpg">
    </div>
    <div class="column col-xs-12 col-md-5 d-mt6">
      <div class="Divider ShowDesktop mb6 op30"></div>
      <p class="Caption op50 mb1">Breakfast</p>
      <h1 class="Display1 mb2">The Bagel Shed</h1>
      <h2 class="Display2 mb3">Bagels, Spreads, Breakfast Sandwiches, and Coffee</h2>
      <p class="mb1">Monday - Friday (8am to 11am)</p>
      <p class="Caption mb2">OPENS Tuesday</p>
      <div class="Divider ShowMobile op30"></div>
    </div>
    <div class="column col-xs-12 col-md-5 col-md-offset-1 d-mt10">
      <img class="" src="/uploads/canlis_concept_02.jpg">
    </div>
    <div class="column col-xs-12 col-md-5 d-mt10">
      <div class="Divider ShowDesktop mb6 op30"></div>
      <p class="Caption op50 mb1">Lunch & Dinner</p>
      <h1 class="Display1 mb2">Drive On Thru</h1>
      <h2 class="Display2 mb3">Burger, Veggie Melt, Canlis Salad, Ice Cream Sandwich</h2>
      <p class="mb1">Monday - Friday (11AM to 6pm)</p>
      <p class="Caption mb2">OPENS Monday</p>
      <div class="Divider ShowMobile op30"></div>
    </div>
    <div class="column col-xs-12 col-md-5 col-md-offset-1 d-mt10">
      <img src="/uploads/canlis_concept_03.jpg">
    </div>
    <div class="column col-xs-12 col-md-5 d-mt10">
      <div class="Divider ShowDesktop mb6 op30"></div>
      <p class="Caption op50 mb1">Dinner</p>
      <h1 class="Display1 mb2">Family Meal,<Br>Delivered.</h1>
      <h2 class="Display2 mb3">Home-cooked dinner and a bottle of wine on your doorstep. Menu changes daily.</h2>
      <p class="mb1">Monday - Friday (6pm to 8pm)</p>
      <p class="Caption mb2">OPENS Wednesday</p>
      <!-- <div class="EventsButton FamilyMealButton mt1 mb10">
        <a class="Caption" href="/about">
          Reserve A Dinner
        </a>
      </div> -->
      <div class="Divider ShowMobile op30"></div>
    </div>
  </div>
  <div class="row">
    <div class="ShowDesktop column col-xs-12 col-md-10 col-md-offset-1">
      <div class="Divider op30"></div>
    </div>
    <div class="column col-xs-12 col-md-4 col-md-offset-4  AlignCenter">
       <h2 class="Display2 mt10 CenterText">Get to know our family and the team wild enough to try this.</h2>
       <div class="EventsButton mt6 mb10">
         <a class="Caption" href="/about">
           Continue to Canlis.com
         </a>
       </div>
       <p class="Caption mt10">&copy; 2020 Canlis Restaurant</p>
    </div>
  </div>
</div>

</div>


