{% include head.html %}

<!-- <video id="bgvid" class="ShowDesktop" playsinline autoplay muted loop>
<source src="{{ page.intro_video }}" type="video/mp4">
</video> -->

{{ page.body}}

<!-- Alert Bar -->
{% if page.is_alert_shown == true %}
  <div class="AlertBar Caption" style="background-color: {{ page.alert_color }}">
    {{ page.alert_text}}
  </div>
{% endif %}

<div class="HomeIntro Intro flex align-center">
    <div class="Welcome mt10 d-mt10 d-pt10 color-white d-ml10"/>
      <p class="Display2 text-align-center mb2">After a year of loss, invention, and the overwhelming support from the city we love, we invite you back inside the Canlis dining room.</p>
      <p class="Display2 mb0 text-align-center">We can't wait to see you.</p>
        <center><img src="/uploads/fam_sig_white.png"/></center>
    </div>
</div>
<div class="AddressSidebar Caption"><a class="NoLine FancyLink" href="https://www.google.com/maps/dir/''/Canlis+Seattle,+WA+98109/@47.6430677,-122.4168205,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x54901505379f7045:0xd1009d4ff183b6c6!2m2!1d-122.3467808!2d47.643089" target="_blank">2576 Aurora Avenue N. Seattle, WA</a><!-- 約束を守る --></div>
<div class="row AlignCenter tall mt10">
  <div class="column col-xs-12 col-md-4 first-xs">
    <div class="Divider mb6"></div>
    <p class="Caption op50 mb2 mt6 d-mt0">An Invitation</p>
    <h2 class="Display2 mb10 d-mb0"> The opportunity to meet and serve you is one we don’t take lightly. Not for the past 70 years at least. Come spend an evening. Our favorite thing in the world is taking care of others, and few places can do it quite like we can.</h2>
  </div>
  <div class="column col-xs-12 col-md-7 first-xs">
    <img class="HomePhoto1" alt="" src="uploads/kris.jpg">
  </div>
</div>
<div class="row AlignCenter tall">
  <div class="column col-xs-12 col-md-7 first-md">
    <img class="HomePhoto2" src="/uploads/kevin.jpg">
  </div>
  <div class="column col-xs-12 col-md-4 first-xs">
    <div class="Divider mb6"></div>
    <p class="Caption op50 mb2 mt6 d-mt0">The Space</p>
    <h2 class="Display2">This storied building was first designed by Roland Terry in 1950. Both Jim Cutler and George Suyama have helped develop it into an iconic expression of modern design. It continues to delight guests from all over the world with its natural light and stunning views of Seattle, Lake Union, and the Cascade mountain range.</h2>
    <p class="mt4 mb10 d-mb0"><i>Winner of the 2019 James Beard Design Icon Award</i></p>
  </div>

</div>
<div class="row AlignCenter tall">
  <div class="column col-xs-12 col-md-6">
    <div class="PortraitCard">
      <div class="Divider mb10 ShowMobile"></div>
      <p class="Caption op50 mb2 mt6 d-mt0">Executive Chef</p>
      <h1 class="Display2 mb5">Aisha Ibrahim</h1>
      <p class="mt2 pb0">"Aisha was drawn to Seattle for the unparalleled quality of ingredients from the forests, fisheries and farms of the Pacific Northwest. She plans to spend her time at Canlis exploring the region’s Indigenous ingredients, the nuances of its microseasons and the city’s historic role as a gateway to Asia."<Br><Br><i>Elizabeth G. Dunn, New York Times</i></p>
      <p class="mt0 mb10 d-mb0"><a href="https://www.nytimes.com/2021/05/03/dining/canlis-chef-aisha-ibrahim.html">Read more</a></p>
    </div>
  </div>
  <div class="column col-xs-12 col-md-6">
    <img class="HomePhoto3" src="/uploads/P1299163.jpg" alt="">
  </div>
</div>

{% assign announcement = site.pages | where: "slug", "announcement" | first %}
{% if announcement.is_featured_home == true %}
  <div class="row AlignCenter tall" onclick="location.href='{{announcement.link}}';">
    <div class="column col-xs-12 col-md-4 first-md">
      <div class="Divider d-mb6"></div>
      <p class="Caption op50 mb2 mt5 d-mt0">{{announcement.subtitle}}</p>
      <h1 class="Display2">{{announcement.description}}</h1>
      <p class="Caption mt4 lift"><a class="FancyLink" href="{{announcement.link}}">{{announcement.link_text}}</a></p>
    </div>
    <div class="column col-xs-12 col-md-7">
      <img class="HomePhoto1" src="{{announcement.featured_image}}">
    </div>
  </div>
{% endif %}

<div class="row">
  <div class="column col-xs-12">
    <div class="LinkToStory">
      <h2 class="Display1 mb10 d-mb0">Make a <a href="{{ site.reservations_link }}" target="_blank" class="NoLine">reservation</a>.</h2>
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="column col-xs-12">
    <div class="mb10 mt10 d-mt0 d-mb0">
      <form action="https://canlis.us17.list-manage.com/subscribe/post?u=32f6e6c858c315fd7e45caafc&amp;id=1c5998bd2a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <p class="Caption op50 mb2 mt6 d-mt0">Sign up for the latest news</p>
        <input type="email" value="" name="EMAIL" class="required email Display1 mb5 NewsletterField" id="mce-EMAIL" placeholder="Enter your email">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="NewsletterButton">
      </form>
      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    </div>
  </div>
</div> -->

{% include footer.html %}
