{% include head.html %}
<div class="Intro">
  <h1 class="Display1 HomeHeadline">&nbsp;&nbsp;Please, come<Br> over for dinner.</h1>
</div>
<!-- <video poster="https://cdn2.dropmarkusercontent.com/39456/93f550e6c671ec24c067f6c944e0d16f17c3dae6/thumb.png" id="bgvid" playsinline autoplay muted loop>
<source src="https://cdn2.dropmarkusercontent.com/39456/fc83c06cbf8c19947f3393a30c794411b2e3717d/Untitled.mp4" type="video/mp4">
</video> -->
<div class="ReservePrompt Caption">2576 Aurora Avenue N. Seattle, WA<!-- 約束を守る --></div>
<div class="row AlignCenter">
  <div class="column col-xs-12 col-md-4 first-md">
    <p class="Caption op50 mb2">{{ page.section1_label }}</p>
    <h2 class="Display2">
    {{ page.section1_body }}</h2>
  </h1><p class="Caption mt5 lift"><a href="http://www.opentable.com/canlis-reservations-seattle" target="_blank">Make a reservation</a></p>
  </div>
  <div class="column col-xs-12 col-md-7 first-xs">
    <img class="HomePhoto1" alt="" src="/uploads/IMG_4311_1.jpg">
  </div>
</div>
<div class="row AlignCenter">
  <div class="column col-xs-12 col-md-7">
    <img class="HomePhoto2" src="/uploads/kitchen_1.jpg" alt="">
  </div>
  <div class="column col-xs-12 col-md-4">
    <div class="PortraitCard">
      <img class="mb4" src="https://www.jamesbeard.org/images/logo-small.svg">
      <h1 class="Display2">{{ page.section2_body }}</h1>
      <p class="Caption mt5 lift"><a href="http://www.seattletimes.com/life/food-drink/seattles-canlis-scores-two-james-beard-award-nominations-for-2017/" target="_blank">Read more</a></p>
    </div>
  </div>
</div>
<div class="row AlignCenter">
  <div class="column col-xs-12 col-md-4 first-md">
    <p class="Caption op50 mb2">{{ page.section3_label }}</p>
    <h2 class="Display2">{{ page.section3_body }}</h2>
  </div>
  <div class="column col-xs-12 col-md-7 first-xs">
    <img class="HomePhoto1" src="/uploads/dining.jpg">
  </div>
</div>
<div class="row AlignCenter">
  <div class="column col-xs-12">
    <img class="HomePhoto4" src="/uploads/plate_steak_side.jpg">
  </div>
  <div class="column col-xs-12 col-md-4 col-md-offset-2">
    <h2 class="Display2 mt8">{{ page.accolades_body }}</h2>
    <p class="Caption mt2 d-mt3">{{ page.accolades_credit }}</p>
  </div>
  <div class="column col-xs-12 col-md-7">
    <img class="HomePhoto5" src="/uploads/plate_slate.jpg">
  </div>
  <div class="column col-xs-12">
    <img class="HomePhoto6" src="/uploads/prepping.jpg">
  </div>
</div>
<div class="row">
  <div class="column col-xs-12">
    <div class="LinkToStory">
      <h2 class="Display1">See the <a href="/menu" class="NoLine">menu</a>.</h2>
    </div>
  </div>
</div>
{% include footer.html %}
