{% include head.html %}

<div class="LoadingShell">
  <div class="logo_building">
    <svg width="100px" height="100px" viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g stroke-width="1" stroke="#272320" fill="none" transform="translate(6.000000, 33.000000)">
        <polyline id="Stroke-1" points="28.6083352 10.1704022 28.6083352 33.4245922"></polyline>
         <polyline id="Stroke-1" points="28.6083352 33.4245922 72.9798436 34.8726369"></polyline>
        <polyline id="Stroke-1" points=" 72.9798436 34.8726369 86.5552626 1.37151955"></polyline>
        <polyline id="Stroke-2" points="32.8820782 17.2883464 32.8820782 28.899352 7.4055419 29.1507486 3.14688268 9.63734078"></polyline>
        <path d="M19.8094525,21 L41.5552626,21" id="Stroke-3"></path>
        <path d="M0.261905028,9.26180447 L33.5890559,18.2502402" id="Stroke-4"></path>
        <path d="M25.5915754,10.1704022 L89.823419,0.491631285 " id="Stroke-5"></path>
      </g>
    </svg>
  </div>
</div>

<div class="Intro">
  <h1 class="Display1 HomeHeadline ShowDesktop">{{ page.headline }}</h1>
  <h1 class="Display1 HomeHeadline ShowMobile">{{ page.headline_mobile }}</h1>
</div>
<div class="ReservePrompt Caption"><a class="NoLine FancyLink" href="https://www.google.com/maps/dir/''/Canlis+Seattle,+WA+98109/@47.6430677,-122.4168205,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x54901505379f7045:0xd1009d4ff183b6c6!2m2!1d-122.3467808!2d47.643089" target="_blank">2576 Aurora Avenue N. Seattle, WA</a><!-- 約束を守る --></div>
<div class="row AlignCenter tall">
  <div class="column col-xs-12 col-md-4 first-md">
    <div class="Divider mb6"></div>
    <p class="Caption op50 mb2 mt6 d-mt0">{{ page.section1_label }}</p>
    <h2 class="Display2">
    {{ page.section1_body }}</h2>
  </h1><p class="Caption mt5 lift"><a class="FancyLink ResLink">Make a reservation</a></p>
  </div>
  <div class="column col-xs-12 col-md-7 first-xs">
    <img class="HomePhoto1" alt="" src="{{ page.section1_photo }}">
  </div>
</div>
<div class="row AlignCenter tall">
  <div class="column col-xs-12 col-md-8">
    <img class="HomePhoto2" src="{{ page.section2_photo }}" alt="">
  </div>
  <div class="column col-xs-12 col-md-4">
    <div class="PortraitCard">
      <img class="mb4 mt7 d-mt0 JBLogo" src="/uploads/jblogo.svg">
      <h1 class="Display2">{{ page.section2_body }}</h1>
      <p class="Caption mt5 lift"><a href="{{ page.section2_link }}" target="_blank" class="FancyLink">Read more</a></p>
    </div>
  </div>
</div>
<div class="row AlignCenter tall">
  <div class="column col-xs-12 col-md-4 first-md">
    <div class="Divider mb6"></div>
    <p class="Caption op50 mb2 mt6 d-mt0">{{ page.section3_label }}</p>
    <h2 class="Display2">{{ page.section3_body }}</h2>
  </div>
  <div class="column col-xs-12 col-md-7 first-xs">
    <img class="HomePhoto1" src="{{ page.section3_photo }}">
  </div>
</div>
<div class="row AlignCenter tall">
  <div class="column col-xs-12">
    <img class="HomePhoto4" src="{{ page.homephoto4 }}">
  </div>
  <div class="column col-xs-12 col-md-4 col-md-offset-2">
    <div class="PortraitCard AccoladesCard mb10 mt10 d-mt0 d-mb0">
      <img class="mb4 mt6 d-mt0" src="/uploads/nytlogo.svg"/>
      <h2 class="Display2 ">{{ page.accolades_body }}</h2>
      <p class="Caption mt2 d-mt3">{{ page.accolades_credit }}</p>
    </div>
  </div>
  <div class="column col-xs-12 col-md-7">
    <img class="HomePhoto5" src="{{ page.homephoto5 }}">
  </div>
  <div class="column col-xs-12">
    <img class="HomePhoto6" src="{{ page.homephoto6 }}">
  </div>
</div>
<div class="row">
  <div class="column col-xs-12">
    <div class="LinkToStory mb10 mt10 d-mt0 d-mb0">
      <h2 class="Display1">See the <a href="/menu" class="NoLine">menu</a>.</h2>
    </div>
  </div>
</div>
{% include footer.html %}