{% include head.html %}

<div class="row">
  <div class="column col-xs-12 col-md-7 FirstThing">
    <h1 class="Display1">{{ page.title }}</h1>
    <p class="mb10">{{ content }}</p>
  </div>
</div>

<div class="row tall">
  {% for item in page.items %}
  <div class="column col-xs-12 col-md-4">
    <a class="NoLine" href="{{ item.link }}">
        <img class="mb3" src="{{ item.thumbnail }}"/>
    </a>
    <p class="mb10">
      <a class="NoLine" href="{{ item.link}}">
        {{ item.title }}
      </a>
    </p>
  </div>
  {% endfor %}
</div>


{% include footer.html %}
