{% include head.html %}

<div class="MenuIntro">
  <div class="row">
    <div class="column col-xs-12 col-md-4 col-md-offset-4 ShowMobile">
      <div class="pt10 pl10 mb5">
        <h2 class="Display2 d-mb6">Choose one of each<Br> four courses <span class="Caption">................. 115</span><h2>
      </div>
    </div>
    <div class="column col-xs-12 col-md-6 col-md-offset-3 ShowDesktop">
      <div class="pt10 pl10 mb5">
        <h2 class="Display2 d-mb6">Choose one of each four courses <span class="Caption">................ 115</span><h2>
      </div>
    </div>
  </div>
</div>
<!-- <div class="DinnerPlates DinnerPlate1">
  <img src="{{ page.plates.plate1 }}">
</div>
<div class="DinnerPlates DinnerPlate2">
  <img src="{{ page.plates.plate2 }}">
</div> -->
<!-- COURSE ONE -->
<div class="row">
  <div class="column col-xs-12 col-md-5">
    <div class="DinnerPlates DinnerPlate3">
      <img src="{{ page.plates.plate3 }}">
    </div>
  </div>
  <div class="column col-xs-12 col-md-7 mb10 MenuColumn first-md">
    <div class="row nested">
      <div class="column col-xs-12">
        <h2 class="Display2 d-mb6">One</h2>
        <div class="Divider mb8"></div>
      </div>
      {% for i in page.course_1%}
      <div class="column nested col-xs-12 col-md-6 mb5">
        <p><span class="Caption">{{ i.title }}</span><br>
          {% if i.desc %}
            {{ i.desc }}<Br>
          {% endif %}
          {% if i.wine %}
            <i>{{ i.wine }}</i>
          {% endif %}
        </p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- COURSE TWO -->
<div class="row">
  <div class="column col-xs-12 col-md-5">
    <div class="DinnerPlates DinnerPlate4">
      <img src="{{ page.plates.plate4 }}">
    </div>
  </div>
  <div class="column col-xs-12 col-md-7 MenuColumn">
    <div class="row nested">
      <div class="column col-xs-12">
        <h2 class="Display2 d-mb6">Two</h2>
        <div class="Divider mb8"></div>
      </div>
      {% for i in page.course_2 %}
      <div class="column nested col-xs-12 col-md-6 mb5">
        <p><span class="Caption">{{ i.title }}</span><br>
          {% if i.desc %}
            {{ i.desc }}<Br>
          {% endif %}
          {% if i.wine %}
            <i>{{ i.wine }}</i>
          {% endif %}
        </p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- COURSE THREE -->
<div class="row">
  <div class="column col-xs-12 col-md-5">
    <div class="DinnerPlates DinnerPlate5">
      <img src="{{ page.plates.plate5 }}">
    </div>
  </div>
  <div class="column col-xs-12 col-md-7 MenuColumn first-md">
    <div class="row nested">
      <div class="column col-xs-12">
        <h2 class="Display2 d-mb6">Three</h2>
        <div class="Divider mb8"></div>
      </div>
      {% for i in page.course_3 %}
      <div class="column nested col-xs-12 col-md-6 mb5">
        <p><span class="Caption">{{ i.title }}</span><br>
          {% if i.desc %}
            {{ i.desc }}<Br>
          {% endif %}
          {% if i.wine %}
            <i>{{ i.wine }}</i>
          {% endif %}
        </p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- COURSE FOUR -->
<div class="row">
  <div class="column col-xs-12 col-md-5">
    <div class="DinnerPlates DinnerPlate6">
      <img src="{{ page.plates.plate6 }}">
    </div>
  </div>
  <div class="column col-xs-12 col-md-7 MenuColumn">
    <div class="row nested">
      <div class="column col-xs-12">
        <h2 class="Display2 d-mb6">Four</h2>
        <div class="Divider mb8"></div>
      </div>
      {% for i in page.course_4 %}
      <div class="column nested col-xs-12 col-md-6 mb5">
        <p><span class="Caption">{{ i.title }}</span><br>
          {% if i.desc %}
            {{ i.desc }}<Br>
          {% endif %}
          {% if i.wine %}
            <i>{{ i.wine }}</i>
          {% endif %}
        </p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% include footer.html %}
