{% include head.html %}

<div class="MenuIntro">
  <div class="row row-no-padding">
    <div class="column col-md-8 col-xs">
      <h1 class="Display1 mb3">Menu</h1>
      <p class="mb3">{{ page.menu_description }}</p>
      <p class="Caption">${{ page.menu_cost }}</p>
    </div>
  </div>
</div>
<div class="MenuSamples">
  <div class="row row-no-padding">
    <div class="column col-no-padding col-xs-12 col-md-6">
      <img src="{{ page.plates.plate1 }}"/>
    </div>
    <div class="column col-no-padding col-xs-12 col-md-6">
      <img src="{{ page.plates.plate2 }}"/>
    </div>
  </div>
  <div class="row row-no-padding">
    <div class="column col-no-padding col-xs-12 col-md-6">
      <img src="{{ page.plates.plate3 }}"/>
    </div>
    <div class="column col-no-padding col-xs-12 col-md-6">
      <img src="{{ page.plates.plate4 }}"/>
    </div>
  </div>
</div>


<div class="MenuSamples flex">
  <div class="MenuSample">
    <div class="row">
      <div class="column col-xs-12 col-md-4 col-md-offset-4">
        <div class="Divider mt4 mb8"></div>
        <div class="mb5"><i>One</i></div>
        <!-- Menu Item -->
        {% for item in page.course_1 %}
        <div class="mb4">
          <div class="mb1 Caption">{{ item.title }}</div>
          <div>{{ item.desc }}</div>
        </div>
        {% endfor %}
      </div>
      <div class="column col-xs-12 col-md-4 col-md-offset-4">
        <div class="mb5 mt5"><i>Two</i></div>
        {% for item in page.course_2 %}
        <div class="mb4">
          <div class="mb1 Caption">{{ item.title }}</div>
          <div>{{ item.desc }}</div>
        </div>
        {% endfor %}
      </div>
      <div class="column col-xs-12 col-md-4 col-md-offset-4">
        <div class="mb5 mt5"><i>Three</i></div>
        {% for item in page.course_3 %}
        <div class="mb4">
          <div class="mb1 Caption">{{ item.title }}</div>
          <div>{{ item.desc }}</div>
        </div>
        {% endfor %}
      </div>
      <div class="column col-xs-12 col-md-4 col-md-offset-4">
        <div class="Divider mt4 mb8 d-mb10"></div>
        <div class="d-mb10">{{ page.disclaimer | markdownify }}</div>
      </div>
    </div>
  </div>
</div>



{% include footer.html %}
