{% include head.html %}

{{ page.content }}

{% include pdr/header.html %}
{% include pdr/photo_feature.html %}


<!-- TEMPLATE: SQUARE, TEXT LEFT -->

<div class="p5 d-p5">
  <div class="row">
    <div class="column col-xs-12 col-md-6">
      <h1 class="mb6 Display2">{{ page.room_desc }} </h1>
      <div class="border-top border-grey pt5">
        <ul>
          {% for item in page.room_details %}
          <li class="flex justify-content-space-between">
            <div class="">
                {{ item.title }}
            </div>
            <div class="Caption text-align-right">
                {{ item.value }}
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="column col-xs-12 col-md-6">
      <img
        class=""
        src="{{ page.photo_grid_1 }}"
      />
    </div>
  </div>
</div>

<!-- END TEMPLATE -->

<!-- TEMPLATE: DOUBLE SQUARE -->

<div class="d-p5">
  <div class="row">
    <div class="column col-xs-12 col-md-6">
      <img
        class=""
        src="{{ page.photo_grid_2 }}"
      />
    </div>
    <div class="column col-xs-12 col-md-6">
      <img
        class=""
        src="{{ page.photo_grid_3 }}"
      />
    </div>
  </div>
</div>

<!-- TEMPLATE: DOUBLE SQUARE -->

{% if page.occasion_brief %}
<div class="d-p5">
  <div class="row">
    <div class="column col-xs-12 col-md-6 col-md-offset-3">
      <h2 class="Display2 text-align-center">{{ page.occasion_brief}}</h2>
    </div>
  </div>
</div>
{% endif %}

<!-- END TEMPLATE -->

<!-- END TEMPLATE -->

{% if page.occasion_details %}

<div class="d-p5 bg-brand-2">
  <div class="row">
    <h2 class="column col-xs-12 text-align-center mb6 Display2 mt10 color-white">
      {{ page.occasion_details_title }}
    </h2>
    <div class="occasion-details-columns column color-white">
      {% for detail in page.occasion_details %}
        <section class="occasion-detail mb2">
          <h3 class="Caption uppercase mb2">
            {{ detail.title }}
          </h3>
          <div class="">
            {{ detail.desc | markdownify }}
          </div>
        </section>
      {% endfor %}
    </div>
  </div>
</div>

{% endif %}

<!-- TEMPLATE: FULL WIDTH PHOTO -->

{% if page.photo_grid_4 %}
<div class="d-p5">
  <div class="row">
    <div class="column col-xs-12 col-md-12">
      <img
        class=""
        src="{{ page.photo_grid_4 }}"
      />
    </div>
  </div>
</div>
{% endif %}

<!-- END TEMPLATE -->

<!-- TEMPLATE: DOUBLE SQUARE -->

{% if page.photo_grid_5 && page.photo_grid_6 %}
<div class="d-p5">
  <div class="row">
    <div class="column col-xs-12 col-md-6">
      <img
        class=""
        src="{{ page.photo_grid_5 }}"
      />
    </div>
    <div class="column col-xs-12 col-md-6">
      <img
        class=""
        src="{{ page.photo_grid_6 }}"
      />
    </div>
  </div>
</div>
{% endif %}

<!-- END TEMPLATE -->

<!-- TEMPLATE: 2/3 PHOTO -->

{% if page.photo_grid_7 %}
<div class="d-p5">
  <div class="row">
    <div class="column col-xs-12 col-md-8 col-md-offset-2">
      <img
        class=""
        src="{{ page.photo_grid_7 }}"
      />
    </div>
  </div>
</div>
{% endif %}

<!-- END TEMPLATE -->

<!-- TEMPLATE: DOUBLE SQUARE -->
{% if page.photo_grid_8 && page.photo_grid_9 %}
<div class="d-p5">
  <div class="row">
    <div class="column col-xs-12 col-md-6">
      <img
        class=""
        src="{{ page.photo_grid_8 }}"
      />
    </div>
    <div class="column col-xs-12 col-md-6">
      <img
        class=""
        src="{{ page.photo_grid_9 }}"
      />
    </div>
  </div>
</div>
{% endif %}

<!-- END TEMPLATE -->

<!-- TEMPLATE: 2/3 PHOTO -->

{% if page.floorplan %}
<div class="d-p5">
  <div class="row">
    <div class="column col-xs-12 col-md-8 col-md-offset-2">
      <div class="p5 d-pb10 text-align-center">
        <h2 class="Display2">A look at the floor plan.</h2>
        </div>
      <img
        class=""
        src="{{ page.floorplan }}"
      />
    </div>
  </div>
</div>
{% endif %}

<!-- END TEMPLATE -->


{% include pdr/occasions.html %}
{% include pdr/rooms.html %}

{% include pdr/contactus.html %}



{% include footer.html %}
