{% include head.html %}

{{ page.content }}

{% include pdr/header.html %}
{% include pdr/photo_feature.html %}

<!-- TEMPLATE: SQUARE, TEXT LEFT -->

<!-- <div class="d-p5">
  <div class="row">
    <div class="column col-xs-12 col-md-6">
      <h1 class="mb6 Display2">{{ page.room_desc }} </h1>
      <div class="pt5">
      </div>
    </div>
    <div class="column col-xs-12 col-md-6">
      <img
        class=""
        src="{{ page.photo_grid_1 }}"
      />
    </div>
  </div>
</div> -->

<!-- END TEMPLATE -->

<!-- TEMPLATE: DOUBLE SQUARE -->

<div class="d-p5">
  <div class="row">
    <div class="column col-xs-12 col-md-6">
      <img
        class=""
        src="{{ page.photo_grid_1 }}"
      />
    </div>
    <div class="column col-xs-12 col-md-6">
      <img
        class=""
        src="{{ page.photo_grid_2 }}"
      />
    </div>
  </div>
</div>

<!-- END TEMPLATE -->

<!-- TEMPLATE: FULL WIDTH PHOTO -->

{% if page.photo_grid_4 %}
<div class="d-p5">
  <div class="row">
    <div class="column col-xs-12 col-md-12">
      <img
        class=""
        src="{{ page.photo_grid_3 }}"
      />
    </div>
  </div>
</div>
{% endif %}

<!-- END TEMPLATE -->

<!-- TEMPLATE: DOUBLE SQUARE -->

{% if page.photo_grid_5 && page.photo_grid_6 %}
<div class="d-p5">
  <div class="row">
    <div class="column col-xs-12 col-md-6">
      <img
        class=""
        src="{{ page.photo_grid_6 }}"
      />
    </div>
    <div class="column col-xs-12 col-md-6">
      <img
        class=""
        src="{{ page.photo_grid_7 }}"
      />
    </div>
  </div>
</div>
{% endif %}

<!-- END TEMPLATE -->

<!-- TEMPLATE: 2/3 PHOTO -->

{% if page.photo_grid_4 %}
<div class="d-p5">
  <div class="row">
    <div class="column col-xs-12 col-md-8 col-md-offset-2">
      <img
        class=""
        src="{{ page.photo_grid_8 }}"
      />
    </div>
  </div>
</div>
{% endif %}

<!-- END TEMPLATE -->

<!-- TEMPLATE: DOUBLE SQUARE -->
{% if page.photo_grid_7 && page.photo_grid_8 %}
<div class="d-p5">
  <div class="row">
    <div class="column col-xs-12 col-md-6">
      <img
        class=""
        src="{{ page.photo_grid_9 }}"
      />
    </div>
    <div class="column col-xs-12 col-md-6">
      <img
        class=""
        src="{{ page.photo_grid_10 }}"
      />
    </div>
  </div>
</div>
{% endif %}

<!-- END TEMPLATE -->

{% include pdr/occasions.html %}

{% include pdr/rooms.html %}

<div class="photo_feature text-align-center p5 flex flex-align-bottom justify-content-center" style="background-image: url({{ page.buyout_photo }})">
  <div class="photo_feature_content">
    <div class="photo_feature_text">
      <h1 class="mb4 color-white Display2">{{ page.buyout_title }} </h1>
      <p class="Caption text-align-center color-white">
        </p>
    </div>
  </div>
</div>


{% include pdr/contactus.html %}

{% include footer.html %}
