{% include head.html %}
<div class="Intro">
  <h1 class="Display1 ShowDesktop">{{ page.headline }}</h1>
  <h1 class="Display1 ShowMobile">{{ page.headline_mobile }}</h1>
</div>

{% for person in page.staff %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
  {% if thecycle == 'even' %}
    <div class="row AlignCenter ">
      <div class="column col-xs-12 col-md-7">
        <img class="Portrait" src="{{ person.photo }}">
      </div>
      <div class="column col-xs-12 col-md-5 first-md">
        <div class="Divider mb6"></div>
        <p class="Caption mb3">{{ person.title }}</p>
        <p class="Display2">{{ person.name }}</p>
        {{ person.bio | markdownify }}
      </div>
    </div>
  {% else %}
    <div class="row AlignCenter ">
      <div class="column col-xs-12 col-md-7">
        <img class="Portrait" src="{{ person.photo }}">
      </div>
      <div class="column col-xs-12 col-md-5">
        <div class="Divider mb6"></div>
        <p class="Caption mb3">{{ person.title }}</p>
        <p class="Display2">{{ person.name }}</p>
        {{ person.bio | markdownify }}
      </div>
    </div>
  {% endif %}
{% endfor %}

<div class="row">
  <div class="column col-xs-12">
    <div class="LinkToStory">
      <h2 class="Display1"><a href="/story" class="NoLine">Read our story.</a></h2>
    </div>
  </div>
</div>

{% include footer.html %}
