{% include head.html %}
<div class="Intro">
  <h1 class="Display1 ShowDesktop">{{ page.headline }}</h1>
  <h1 class="Display1 ShowMobile">{{ page.headline_mobile }}</h1>
</div>
<div class="row AlignCenter">
  <div class="column col-xs-12 col-md-6 col-md-offset-1">
    <img class="mb5 Portrait Mark" src="{{ page.person1.photo }}">
  </div>
  <div class="column col-xs-12 col-md-5">
    <div class="PortraitCard">
      <p class="Caption mb2">{{ page.person1.title }}</p>
      <p class="Display2">{{ page.person1.name }}</p>
      {{ page.person1.bio | markdownify }}
    </div>
  </div>
</div>
<div class="row">
  <div class="column col-xs-12 col-md-6">
    <img class="mb5 Portrait Brian" src="{{ page.person2.photo }}">
  </div>
  <div class="column col-xs-12 col-md-5 first-md">
    <div class="PortraitCard">
      <p class="Caption mb2">{{ page.person2.title }}</p>
      <p class="Display2">{{ page.person2.name }}</p>
      {{ page.person2.bio | markdownify }}
    </div>
  </div>
</div>
<div class="row">
  <div class="column col-xs-12 col-md-6 col-md-offset-1">
    <img class="mb5 Portrait Mark" src="{{ page.person3.photo }}">
  </div>
  <div class="column col-xs-12 col-md-5">
    <div class="PortraitCard">
      <p class="Caption mb2">{{ page.person3.title }}</p>
      <p class="Display2">{{ page.person3.name }}</p>
      {{ page.person3.bio | markdownify }}
    </div>
  </div>
</div>
<div class="row">
  <div class="column col-xs-12 col-md-6">
    <img class="mb5 Portrait Brian" src="{{ page.person4.photo }}">
  </div>
  <div class="column col-xs-12 col-md-5 first-md">
    <div class="PortraitCard">
      <p class="Caption mb2">{{ page.person4.title }}</p>
      <p class="Display2">{{ page.person4.name }}</p>
      {{ page.person4.bio | markdownify }}
    </div>
  </div>
</div>
<div class="row">
  <div class="column col-xs-12 col-md-6 col-md-offset-1">
    <img class="mb5 Portrait Mark" src="{{ page.person5.photo }}">
  </div>
  <div class="column col-xs-12 col-md-5">
    <div class="PortraitCard">
      <p class="Caption mb2">{{ page.person5.title }}</p>
      <p class="Display2">{{ page.person5.name }}</p>
      {{ page.person5.bio | markdownify }}
    </div>
  </div>
</div>
<div class="row">
  <div class="column col-xs-12">
    <div class="LinkToStory">
      <h2 class="Display1"><a href="/story" class="NoLine">Read our story.</a></h2>
    </div>
  </div>
</div>

{% include footer.html %}
