{% include head.html %}

{{ page.content }}




<div class="Intro">
  <h1 class="Display1">{{ page.headline }}</h1>
</div>

{% for room in page.course_1 %}
  <h1>{{ room.title }}</h1>
  {% for photo in room.photos %}
    <img src="{{ room.photos.photo_1 }}" alt="">
  {% endfor %}
{% endfor %}


<section id="image-carousel" class="splide" aria-label="Beautiful Images">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <img src="/uploads/kevin_exec.jpg" alt="">
      </li>
      <li class="splide__slide">
        <img src="/uploads/kevin_exec.jpg" alt="">
      </li>
      <li class="splide__slide">
        <img src="/uploads/kevin_exec.jpg" alt="">
      </li>
    </ul>
  </div>
</section>


<div class="row">
  <div class="column col-xs-12 col-md-12">

  </div>
  <div class="column col-xs-12 col-md-4  col-md-offset-2">
    <div class="Display2 mt10 mb4"><i>The Executive Room</i></div>
    <p class="Display2">Over 400 square feet of warmth and comfort. This private space is on our main level and features a fireplace and North and East views of Lake Union and the Cascade Mountains through 10’ high windows.</p>
  </div>
  <div class="column col-xs-12 col-md-4 ">
    <div class="Divider d-mt10 mb6"></div>
    <p>Seated dinner capacity, 6 - 24 <br>
      Cocktail reception capacity, 12 - 30</p>
    <p class="mt0 mb10 d-mb0"><a href="/uploads/canlis_privateevents.pdf">Download Packet (PDF)</a></p>
  </div>
</div>



<script>
  document.addEventListener( 'DOMContentLoaded', function () {
    new Splide( '#image-carousel' ).mount();
  } );
</script>

<div class="row">
  <div class="column col-xs-12 col-md-12">
    <img class="PrivateEventsPhoto3 " src="/uploads/kevin_pent3.jpg">
  </div>
  <div class="column col-xs-12 col-md-4 col-md-offset-2">
    <div class="Display2 mt10 mb4"><i>The Penthouse</i></div>
    <p class="Display2">Originally built as our grandfather’s residence,
the Penthouse sits above our dining room and is approximately 1500 square feet. It features a full service bar, dining room views, wrap-around views of Lake Union and the Cascade Mountains, and a baby grand piano.</p>
  </div>
  <div class="column col-xs-12 col-md-4">
    <div class="Divider d-mt10 mb6"></div>
    <p>Seated dinner capacity, 25 - 80 <br>
      Cocktail reception capacity, 25 - 110</p>
    <p class="mt0 mb10 d-mb0"><a href="/uploads/canlis_privateevents.pdf">Download Packet (PDF)</a></p>
  </div>
</div>

<div class="row">
  <div class="column col-xs-12">
    <div class="Divider"></div>
  </div>
  <div class="column col-xs-12 col-md-2 col-md-offset-2 mt10 pdf_preview">
    <a class="NoLine" target="_blank" href="/uploads/canlis_privateevents.pdf"><img class="" src="/uploads/pdf_preview.png"/></a>
  </div>
  <div class="column col-xs-12 col-md-4">
    <div class="Caption mt10 mb4">More info</div>
    <p>Many questions may be answered by our packet. Download it <a target="_blank" href="/uploads/canlis_privateevents.pdf">here</a>.</p>
    <div class="Caption mb4">Contact</div>
    <p class="mb4">
      Please direct inquiries to <a href="mailto:events@canlis.com">events@canlis.com</a>.
    </p>

    <script>(function(window,document){if(window.palcon){console.error("palcon embed already included");return}window.palcon={_c:[]};["init"].forEach((me=>window.palcon[me]=function(){window.palcon._c.push([me,arguments])}));var elt=document.createElement("script");elt.type="module";elt.async=true;elt.src=`https://widget.app.palomaparties.com/shim.js`;var before=document.getElementsByTagName("script")[0];before.parentNode.insertBefore(elt,before)})(window,document);
palcon.init("14466f6b-4188-416b-9da9-61cb251cd321");</script>


    <div class="mb4">
      <button class="Button NoLine Caption paloma_button palconTrigger" style="margin:10px">Plan Your Event</button>
    </div>
  </div>
</div>

<!-- <div class="row AlignCenter PrivateEventsOutro tall">
  <div class="column col-xs-12 col-md-6 col-md-offset-2">
    <h2 class="Display1 mb6">{{ page.outro.headline }}</h2>
    <script src="https://api.tripleseat.com/v1/leads/ts_script.js?lead_form_id=17712&public_key=0a5b7bc28d470e968cc1c0a2c834135bf9660e03"></script>
  </div>
  <div class="column col-xs-12 col-md-4">
  </div>
</div> -->

{% include footer.html %}
