{% include head.html %}

<div class="row StoryContainer">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <h1 class="mb10 Display2">This is the story of an immigrant runaway.</h1>
    <h1 class="mb5 Display2">His wife, a Lebanese beauty, was our great grandmother. He landed his first big job cooking for the president on safari in Africa — a journey that ended at Ellis Island. This is the story of their son, of his rebellion from the old world and of his setting out for the west — even further west — to Hawaii. Ours is a family who saw the war. Prepared meals for those who would never return, and others just setting foot on American soil again. It’s the story of just one restaurant on a beach in the open air. Of building four grand establishments, and how there’s only one left today. It’s a story of birth and brokenness, of renewal and hope, and of triumph.</h1>
    <h1 class="mb5 Display2">This is the story of building a restaurant from scratch, in a location “way outside of town” for a city that would “never appreciate fine dining.” It is the story of our great grandparents risking everything, our grandparents doing the same, and then watching our mom and dad do it again. It is a legacy rich with tradition, but not like you might think. Here, we’ve made a habit of breaking our own traditions for the sake of someone else’s. Canlis is something more: the recognition that the story that matters most is your own.</h1>
    <h1 class="mb5 Display2">We look forward to learning it. </h1>
    <h1 class="mb10 Display2">The Canlis Family</h1>
  </div>
</div>
<img class="EightyFour" src="/uploads/84.jpg">

{% include footer.html %}
