{% include head.html %}

<div class="Intro">
  <h1 class="Display1">{{ page.headline }}</h1>
</div>

<!-- FLASH -->

<!-- {% assign all_photos = "" | split: "" %}

{% for item in page.items %}

  {% if item.photos %}
    {% for photo in item.photos %}
      {% assign all_photos = all_photos | push: photo.url %}
    {% endfor %}
  {% endif %}

  {% if item.items %}
    {% for subitem in item.items %}
      {% if subitem.photos %}
        {% for photo in subitem.photos %}
          {% assign all_photos = all_photos | push: photo.url %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endif %}

{% endfor %} -->

<!-- <div class="Flasher" >
  <div class="splide" id="flasher-gallery" data-interval="{{ item.photo_duration | default: 150 }}">
    <div class="splide__track">
      <ul class="splide__list">
        {% for url in all_photos %}
          <li class="splide__slide slide_{{ forloop.index }}">
            <img class="item__img" src="{{ url }}">
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div> -->


<div class="StudioContainer">

  <!-- INTRO -->
  <div class="StudioIntro">
    <div class="row">
      <div class="column col-xs-12 col-md-4 col-md-offset-4 color-white">
        <p class="Caption text-align-center mb2 mt10">/ {{ page.title }}</p>
        <p class="mb0 text-align-center Center">{{ page.desc | markdownify }}</p>
      </div>
    </div>
  </div>

  <!-- MUURI BEGIN -->
  <div class="StudioGrid">
    <div class="grid">
      {% assign visible_items = page.items | where: "is_visible", true %}

      {% for item in visible_items %}
        {% assign item_key = forloop.index0 %}

        <div class="item {% if item.is_featured %}item--large{% endif %}" data-lightbox-target="{{ item_key }}">
          <button
            class="item__button"
            type="button"
            onclick="
              console.log('thumbnail clicked');
              console.log(event);
              openLightbox('{{ item_key }}', event)
            "             
            aria-label="Open {{ item.title | escape }}"
          >
            <div class="item__content">
              {% if item.is_slideshow == true %}
                <div class="splide js-item-splide" data-interval="{{ item.photo_duration | default: 4000 }}">
                  <div class="splide__track">
                    <ul class="splide__list">
                      {% for photo in item.photos %}
                        <li class="splide__slide">
                          <img class="item__img" src="{{ photo.url }}" alt="{{ item.title | escape }}">
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              {% else %}
                {% assign first = item.photos | first %}
                <img class="item__img" src="{{ first.url }}" alt="{{ item.title | escape }}">
              {% endif %}

              <!-- <div class="item__overlay">
                <p class="item__desc color-white mb0 pb0">
                {% if item.desc %}
                  {{ item.desc}}
                {% endif %}</p>
              </div> -->
            </div>
            <div class="item-label flex justify-content-space-between">
              <div class="item-label__main color-white mb0 mt0 pb0">
                {{ item.title }}<br />
                {% if item.partner %}
                  <span class="op50 italic">in collaboration with {{ item.partner }}</span>
                {% endif %}
              </div>

              <!-- {% if item.is_collection == true %}
                <div>
                  <span class="Caption color-white op50">See more</span>
                </div>
              {% else %}
                {% if item.is_soldout %}
                  <div>
                    <span class="Caption color-white op50">Sold Out</span>
                  </div>
                {% endif %}
              {% endif %} -->
            </div>
          </button>
        </div>
      {% endfor %}
    </div>
  </div>
  <!-- MUURI END -->
  <!-- OUTRO -->
  <div class="StudioIntro">
    <div class="row">
      <div class="column col-xs-12 col-md-4 col-md-offset-4 color-white">
        <p class="Caption text-align-center mb2 mt10">Collaborators</p>
        <div class="mb0 text-align-center mb4 ">{{ page.partners_intro }}</div>
        <ul class="mb0 text-align-center op50 ">
          {% assign partners = page.partners %}
          {% for partner in partners %}
            <li>
              <a class="color-white" href="{{ partner.url }}">{{ partner.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

</div>

{% include footer.html %}
