{% include head.html %}

<div class="Intro">
  <h1 class="Display1 ShowDesktop">
    {{ page.headline }}
  </h1>
  <h1 class="Display1 ShowMobile">{{ page.headline_mobile }}</h1>
</div>
<div class="row tall">
  <div class="column col-xs-12 col-md-8">
    <img class="WinePhoto1" src="{{ page.wine_photo_1 }}">
  </div>
  <div class="column col-xs-12 col-md-4">
    <img class="WinePhoto2" src="{{ page.wine_photo_2 }}">
  </div>
</div>
<div class="row tall">
  <div class="column col-xs-12 col-md-3">
    <h2 class="Display2">{{ page.wine_title }}</h2>
  </div>
  <div class="column col-xs-12 col-md-4 col-md-offset-1">
    <div class="Divider mb8"></div>
    {{ page.wine_body_col1 | markdownify }}
  </div>
  <div class="column col-xs-12 col-md-4">
    <div class="Divider mb8 ShowDesktop"></div>
    {{ page.wine_body_col2 | markdownify }}
  </div>
</div>
<div class="row AlignTop tall">
  <div class="column col-xs-12 col-md-3">
    <h2 class="Display2">Our Award-winning <Br> Wine & Spirits Team</h2>
  </div>
  <div class="column col-xs-12 col-md-8 col-md-offset-2">
    <div class="row AlignTop nested">
      <div class="sk8r_container">
        <div class="sk8r_movement">
          <div class="sk8r"></div>
        </div>
      </div>
      <div class="Divider mb8"></div>
      {% for i in page.wine_staff %}
        <div class="column col-xs-6 col-md-4 wineStaff">
          <p class="">{{ i.name }}<br>
          <span><i>{{ i.title }}</i></span></p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="row tall">
  <div class="column col-xs-12 col-md-5">
    <img class="LoungePhoto1" src="{{ page.lounge_photo_1 }}">
  </div>
  <div class="column col-xs-12 col-md-7">
    <img class="LoungePhoto2" src="{{ page.lounge_photo_2 }}">
  </div>
</div>
<div class="row">
  <div class="column col-xs-12 col-md-5">
    <h2 class="Display1 mb5">
      {{ page.lounge_title }}
    </h2>
    {{ page.lounge_body | markdownify }}
  </div>
</div>

{% include footer.html %}
