{% include head.html %}
<div class="Intro">
  <h1 class="Display1 ShowDesktop">
One of the best wine lists<Br> in the world. We welcome <Br>you to be the judge.
  </h1>
  <h1 class="Display1 ShowMobile">8 awards, 18,000 bottles, 2,500 selections, & 5 sommeliers.</h1>
</div>
<div class="row AlignCenter">
  <div class="column col-xs-12 col-md-8">
    <img class="WinePhoto1" src="{{ page.wine_intro.photo }}">
  </div>
  <div class="column col-xs-12 col-md-4">
    {{ page.wine_intro.desc | markdownify }}
    <p class="Caption mt5">Wine List</p>
    {{ page.wine_intro.winelist | markdownify }}
  </div>
</div>
<div class="row AlignTop StaffSection">
  <div class="column col-xs-12 col-md-4">
    <h2 class="Display2 mt3">{{ page.winestaff.title }}</h2>
  </div>
  <div class="column col-xs-12 col-md-8">
    <div class="row AlignTop nested">
      <div class="column col-xs-6 col-md-4">
        <p class="">Nelson Daquip<br>
        <span><i>Wine & Spirits Director</i></span></p>
        <p class="">Jackson Rohrbaugh<br>
        <span><i>Sommelier / Vice Director</i></span></p>
      </div>
      <div class="column col-xs-12 col-md-4">
        <p class="">Elton Nichols<br>
        <span><i>Sommelier / Cellarmaster</i></span></p>
        <p class="">Brett Fallows<br>
        <span><i>Sommelier</i></span></p>
      </div>
      <div class="column col-xs-12 col-md-4">
        <p class="">James MacWilliams<br>
        <span><i>Head Barman</i></span></p>
        <p class="">José Castillo<br>
        <span><i>Barman</i></span></p>
      </div>
    </div>
  </div>
</div>
<div class="row AlignCenter">
  <div class="column col-xs-12 col-md-4">
    <h2 class="Display1 mb5">The Lounge</h2>
    <p>We may be known for our fine dining menu, but don't miss the quality drinks, memorable nibbles and sweeping views in the lounge.</p>
    <p>In addition to our cocktail menu, we have an extensive selection of spirits. Our faboulous bartenders will Praesent porttitor mauris felis, id convallis purus porttitor vel. In efficitur massa bibendum tortor iaculis consequat. Mauris vel convallis odio. Nunc vestibulum tincidunt nisl, nec pretium ligula.</p>
  </div>
  <div class="column col-xs-12 col-md-5 col-md-offset-1">
    <img class="WinePhoto2" src="/uploads/bar_1.jpg">
  </div>
</div>
<div class="row AlignCenter">
  <div class="column col-xs-12 col-md-8">
    <img class="WinePhoto3" src="/uploads/IMG_4310.JPG">
  </div>
  <div class="column col-xs-12 col-md-4">
    <h2 class="Display2 mb5 mt0 d-mt10">{{ page.cocktails_section1_title }}</h2>
        {% for i in page.cocktails_section1 %}
          <p class="mb2 d-mb3"><span class="Caption InlineCaption mb1">{{ i.title }}</span><br>
          {% if i.author %}
            <i>{{ i.author }}</i><br>
          {% endif %}
          {{ i.desc }}</p>
        {% endfor %}
  </div>
</div>
<div class="row">
  <div class="column col-xs-12">
    <div class="row nested">
      <div class="column col-xs-12 col-md-6">
        <h2 class="Display2 mb5 mt0 d-mt10">{{ page.cocktails_section2_title }}</h2>
        {% for i in page.cocktails_section2 %}
          <p class="mb2 d-mb3"><span class="Caption InlineCaption mb1">{{ i.title }}</span><br>
          {% if i.author %}
            <i>{{ i.author }}</i><br>
          {% endif %}
          {{ i.desc }}</p>
        {% endfor %}
      </div>
      <div class="column col-xs-12 col-md-6">
        <h2 class="Display2 mb5 mt0 d-mt10">{{ page.cocktails_section3_title }}</h2>
        {% for i in page.cocktails_section3 %}
          <p class="mb2 d-mb3"><span class="Caption InlineCaption mb1">{{ i.title }}</span><br>
          {% if i.author %}
            <i>{{ i.author }}</i><br>
          {% endif %}
          {{ i.desc }}</p>
        {% endfor %}
      </div>
      <div class="column col-xs-12 col-md-6">
        <h2 class="Display2 mb5 mt0 d-mt10">{{ page.cocktails_section4_title }}</h2>
        {% for i in page.cocktails_section4 %}
          <p class="mb2 d-mb3"><span class="Caption InlineCaption mb1">{{ i.title }}</span><br>
          {% if i.author %}
            <i>{{ i.author }}</i><br>
          {% endif %}
          {{ i.desc }}</p>
        {% endfor %}
      </div>
      <div class="column col-xs-12 col-md-6">
        <h2 class="Display2 mb5 mt0 d-mt10">{{ page.cocktails_section5_title }}</h2>
        {% for i in page.cocktails_section5 %}
          <p class="mb2 d-mb3"><span class="Caption InlineCaption mb1">{{ i.title }}</span><br>
          {% if i.author %}
            <i>{{ i.author }}</i><br>
          {% endif %}
          {{ i.desc }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% include footer.html %}
