{% include yurthead.html %}

<div class="yurtmenu">
  <img class="yurthead" src="/uploads/yurthead_camp.jpg">
  <nav class="yurt-nav justify-content-center">
    <ul class="flex justify-content-center">
      <li id="canteen-menu-drinks-trigger active" class="m2">Drinks</li>
      <li id="canteen-menu-food-trigger" class="m2">Food</li>
    </ul>
  </nav>
  <div class="yurtmenu-contents p3" id="menu-drinks">
  {% for drinks-category in page.drinks %}
    <div>
      {% if drinks-category.category-title %}
        <div class="yurt-cat-title pt2 pb4 mb5">{{ drinks-category.category-title }}</div>
      {% endif %}
      {% if drinks-category.category-title == "Wine" %}
        <div class="mb4 mt5">
          <div class="yurt-sub-title mb4">Full List</div>
        </div>
        <div class="mb7 mt2">
          <div class="">Our award-winning cellar is entirely at your disposal.</div>
          <div class="mt4">
            <a class="yurt-fulllist mt4 NoLine" href="https://canlis.com/uploads/winelist.pdf" target="_blank">See the full list</a>
          </div>
        </div>
      {% endif %}
      <!-- CATEGORIES WITH SUBS -->
      {% for subcategory in drinks-category.subcategories %}
        <div class="mb6 mt5">
          <div class="yurt-sub-title mb4">{{ subcategory.title }}</div>
        </div>
        {% if subcategory.items %}
          {% for item in subcategory.items %}
            <div class="mb3 flex">
              <div class="yurt-item-title mb1 mr1">{{ item.title }}</div>
              {% if item.note %}
                <div class="yurt-item-note mt2">{{ item.note }}</div>
              {% endif %}
              <div class="yurt-item-price mr1">{{ item.price }}</div>
              <div class="yurt-item-desc mt1">{{ item.desc }}</div>
            </div>
          {% endfor %}
        {% endif %}
      {% endfor %}
      <!-- CATEGORIES WITHOUT SUBS -->
      {% for item in drinks-category.items %}
      <div class="mb3 flex">
        <div class="yurt-item-title mb1 mr1">{{ item.title }}</div>
        <div class="yurt-item-price mb1 mr1">{{ item.price }}</div>
        {% if item.note %}
          <div class="yurt-item-note mb2">{{ item.note }}</div>
        {% endif %}
        <div class="yurt-item-desc">{{ item.desc }}</div>
      </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>


<div class="yurtmenu-contents p3" id="menu-food">
{% for food-category in page.food %}
  <div>
    {% if food-category.category-title %}
      <div class="yurt-cat-title pt2 pb4 mb5">{{ food-category.category-title }}</div>
    {% endif %}
    {% if food-category.category-title == "Wine" %}
      <div class="mb4 mt5">
        <div class="yurt-sub-title mb2">Full List</div>
      </div>
      <div class="mb9 mt0">
        <div class="">Our award-winning cellar is entirely at your disposal.</div>
        <div class="mt4">
          <a class="yurt-fulllist mt4 NoLine" href="https://canlis.com/uploads/winelist.pdf" target="_blank">See the full list</a>
        </div>
      </div>
    {% endif %}
    <!-- CATEGORIES WITH SUBS -->
    {% for subcategory in food-category.subcategories %}
      <div class="mb6 mt5">
        <div class="yurt-sub-title mb4">{{ subcategory.title }}</div>
      </div>
      {% if subcategory.items %}
        {% for item in subcategory.items %}
          <div class="mb3">
            <div class="yurt-item-title mb">
              {{ item.title }}
              {% if item.note %}
                <div class="yurt-item-note mt2">{{ item.note }}</div>
              {% endif %}
              <div class="yurt-item-price">{{ item.price }}</div>
            </div>
            <div class="yurt-item-desc mt1">{{ item.desc }}</div>
          </div>
        {% endfor %}
      {% endif %}
    {% endfor %}
    <!-- CATEGORIES WITHOUT SUBS -->
    {% for item in food-category.items %}
    <div class="mb3">
      <div class="yurt-item-title mb1">
        {{ item.title }}
        {% if item.note %}
          <div class="yurt-item-note mt2">{{ item.note }}</div>
        {% endif %}
        <div class="yurt-item-price">{{ item.price }}</div>
      </div>
      <div class="yurt-item-desc">{{ item.desc }}</div>
    </div>
    {% endfor %}
  </div>
{% endfor %}
</div>

<div class="yurtmenu-contents p3">
  <div>
    <div class="yurt-cat-title pt2 pb4 mb5">Chilly?</div>
    <div class="mb7 mt2">
      <div class="yurt-item-note">We'd be happy to provide a blanket upon request. Just ask your server.</div>
    </div>
  </div>
  <div class="flex AlignCenter">
    <p class="mb1">Staff uniforms provided by our friends at Eddie Bauer.</p>
  </div>
  <div class="flex AlignCenter mb4">
    <a class="NoLine" href="https://www.eddiebauer.com/" target="_blank">
      <img src="/uploads/eddie-bauer-logo.png" width="150"/>
    </a>
  </div>
</div>
