{% include yurthead.html %}

<div class="yurtmenu">
  <img class="yurthead" src="/uploads/yurthead.jpg">
  <div class="yurtmenu-contents p3">
  {% for menu-category in page.menu %}
    <div>
      {% if menu-category.category-title %}
        <div class="yurt-cat-title pt2 pb4 mb5">{{ menu-category.category-title }}</div>
      {% endif %}
      {% if menu-category.category-title == "Wine" %}
        <div class="mb4 mt5">
          <span class="yurt-sub-title mb4">Full List</span>
        </div>
        <div class="mb7 mt2">
          <div class="">The award-winning Canlis Wine Cellar with over X,XXX bottles is entirely at your disposal.</div>
          <div class="mt4">
            <a class="yurt-fulllist mt4 NoLine" href="https://canlis.com/uploads/winelist.pdf" target="_blank">See the full list</a>
          </div>
        </div>
      {% endif %}
      <!-- CATEGORIES WITH SUBS -->
      {% for subcategory in menu-category.subcategories %}
        <div class="mb6 mt5">
          <span class="yurt-sub-title mb4">{{ subcategory.title }}</span>
        </div>
        {% if subcategory.items %}
          {% for item in subcategory.items %}
            <div class="mb3">
              <div class="yurt-item-title mb">
                {{ item.title }}
                {% if item.note %}
                  <span class="yurt-item-note">{{ item.note }}</span>
                {% endif %}
                <span class="yurt-item-price">{{ item.price }}</span>
              </div>
              <div class="yurt-item-desc mt1">{{ item.desc }}</div>
            </div>
          {% endfor %}
        {% endif %}
      {% endfor %}
      <!-- CATEGORIES WITHOUT SUBS -->
      {% for item in menu-category.items %}
      <div class="mb3">
        <div class="yurt-item-title mb1">
          {{ item.title }}
          {% if item.note %}
            <span class="yurt-item-note">{{ item.note }}</span>
          {% endif %}
          <span class="yurt-item-price">{{ item.price }}</span>
        </div>
        <div class="yurt-item-desc">{{ item.desc }}</div>
      </div>
      {% endfor %}
    </div>
  {% endfor %}
  <div>
      <div class="yurt-cat-title pt2 pb4 mb5">Feeling the cold?</div>
      <div class="mb7 mt2">
        <span class="yurt-item-note">We'd be happy to provide a blanket. Just ask your server.</span>
      </div>
    </div>
</div>
